# The NN with baeysian regulated backpropagation in matlab with missing data: complete case & Kth nearest imputation case analysis 

# The main code is based on the book "practical-machine-learning-with-python" and its author's github "https://github.com/dipanjanS/practical-machine-learning-with-python.git"

In [58]:
import pandas as pd
import math
import os
import fancyimpute
from sklearn.preprocessing import Imputer  
from fancyimpute import KNN
import numpy as np
import re

In [24]:
# turn of warning messages
pd.options.mode.chained_assignment = None  # default='warn'

# get data
df = pd.read_csv('train_ajEneEa.csv')
df.columns
df = df[['gender', 'age', 'hypertension', 'heart_disease', 'ever_married',
       'work_type', 'Residence_type', 'avg_glucose_level', 'bmi',
       'smoking_status', 'stroke']]
df

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,3.0,0,0,No,children,Rural,95.12,18.0,NaN,0
1,Male,58.0,1,0,Yes,Private,Urban,87.96,39.2,never smoked,0
2,Female,8.0,0,0,No,Private,Urban,110.89,17.6,NaN,0
3,Female,70.0,0,0,Yes,Private,Rural,69.04,35.9,formerly smoked,0
4,Male,14.0,0,0,No,Never_worked,Rural,161.28,19.1,NaN,0
5,Female,47.0,0,0,Yes,Private,Urban,210.95,50.1,NaN,0
6,Female,52.0,0,0,Yes,Private,Urban,77.59,17.7,formerly smoked,0
7,Female,75.0,0,1,Yes,Self-employed,Rural,243.53,27.0,never smoked,0
8,Female,32.0,0,0,Yes,Private,Rural,77.67,32.3,smokes,0
9,Female,74.0,1,0,Yes,Self-employed,Urban,205.84,54.6,never smoked,0
10,Female,79.0,0,0,Yes,Govt_job,Urban,77.08,35.0,NaN,0
11,Male,79.0,0,1,Yes,Private,Urban,57.08,22.0,formerly smoked,0
12,Female,37.0,0,0,Yes,Private,Rural,162.96,39.4,never smoked,0
13,Female,37.0,0,0,Yes,Private,Rural,73.50,26.1,formerly smoked,0
14,Female,40.0,0,0,Yes,Private,Rural,95.04,42.4,never smoked,0
15,Male,35.0,0,0,No,Private,Rural,85.37,33.0,never smoked,0
16,Female,20.0,0,0,No,Private,Urban,84.62,19.7,smokes,0
17,Female,42.0,0,0,Yes,Private,Rural,82.67,22.5,never smoked,0
18,Female,44.0,0,0,Yes,Govt_job,Urban,57.33,24.6,smokes,0
19,Female,79.0,0,1,Yes,Self-employed,Urban,67.84,25.2,smokes,0
20,Female,65.0,1,0,Yes,Private,Rural,75.70,41.8,NaN,0
21,Female,57.0,1,0,Yes,Private,Rural,129.54,60.9,smokes,0
22,Female,49.0,0,0,Yes,Private,Rural,60.22,31.5,smokes,0
23,Male,71.0,0,0,Yes,Private,Urban,198.21,27.3,formerly smoked,0
24,Female,59.0,0,0,Yes,Private,Urban,109.82,23.7,never smoked,0
25,Female,25.0,0,0,Yes,Private,Urban,60.84,24.5,never smoked,0
26,Female,67.0,0,0,Yes,Govt_job,Rural,94.61,28.4,smokes,0
27,Female,38.0,0,0,No,Private,Rural,97.49,26.9,never smoked,0
28,Female,54.0,0,0,Yes,Private,Rural,206.72,26.7,never smoked,0
29,Female,70.0,0,0,Yes,Self-employed,Rural,214.45,31.2,never smoked,0
...,...,...,...,...,...,...,...,...,...,...,...
43370,Male,79.0,0,0,Yes,Self-employed,Rural,100.71,25.2,never smoked,0
43371,Female,78.0,0,0,Yes,Private,Urban,182.45,NaN,formerly smoked,0
43372,Male,36.0,1,0,Yes,Private,Urban,149.22,33.4,NaN,0
43373,Female,46.0,0,0,No,Private,Rural,88.66,34.5,smokes,0
43374,Male,49.0,0,0,Yes,Private,Rural,98.91,35.3,smokes,0
43375,Female,70.0,0,0,Yes,Self-employed,Rural,121.45,27.3,never smoked,0
43376,Female,3.0,0,0,No,children,Rural,83.32,21.3,NaN,0
43377,Female,63.0,0,0,Yes,Govt_job,Urban,88.08,33.6,never smoked,0
43378,Male,22.0,0,0,No,Private,Urban,86.82,30.2,never smoked,0
43379,Male,47.0,0,1,Yes,Govt_job,Urban,89.25,29.0,NaN,0
43380,Male,26.0,0,0,Yes,Private,Rural,71.31,25.3,formerly smoked,0
43381,Male,45.0,0,0,Yes,Private,Urban,214.05,40.5,formerly smoked,0
43382,Female,9.0,0,0,No,children,Urban,68.49,16.8,NaN,0
43383,Male,18.0,0,0,No,Private,Urban,131.73,24.9,never smoked,0
43384,Female,65.0,0,0,Yes,Private,Rural,200.92,30.7,formerly smoked,0
43385,Female,66.0,0,0,Yes,Self-employed,Urban,92.10,24.8,NaN,0
43386,Male,68.0,0,1,Yes,Private,Urban,113.60,25.5,never smoked,0
43387,Male,20.0,0,0,No,Private,Rural,83.37,26.5,never smoked,0
43388,Female,64.0,1,0,Yes,Govt_job,Rural,228.43,NaN,smokes,0
43389,Male,14.0,0,0,No,children,Urban,82.48,24.8,NaN,0
43390,Female,69.0,0,0,Yes,Self-employed,Urban,229.85,31.2,never smoked,0
43391,Male,6.0,0,0,No,children,Urban,77.48,19.1,NaN,0
43392,Female,18.0,0,0,No,Private,Urban,131.96,22.8,NaN,0
43393,Male,39.0,0,0,Yes,Private,Rural,132.22,31.6,never smoked,0
43394,Male,47.0,0,0,No,Govt_job,Urban,68.52,25.2,formerly smoked,0
43395,Female,10.0,0,0,No,children,Urban,58.64,20.4,never smoked,0
43396,Female,56.0,0,0,Yes,Govt_job,Urban,213.61,55.4,formerly smoked,0
43397,Female,82.0,1,0,Yes,Private,Urban,91.94,28.9,formerly smoked,0
43398,Male,40.0,0,0,Yes,Private,Urban,99.16,33.2,never smoked,0
43399,Female,82.0,0,0,Yes,Private,Urban,79.48,20.6,never smoked,0

In [25]:
# Data description
print("Number of rows::",df.shape[0])
print("Number of columns::",df.shape[1] )
print("Column Names::",df.columns.values.tolist())
print("Column Data Types::\n",df.dtypes)
print("Columns with Missing Values::",df.columns[df.isnull().any()].tolist())
print("Number of rows with Missing Values::",len(pd.isnull(df).any(1).nonzero()[0].tolist()))
print("General Stats::")
print(df.info())
print("Summary Stats::" )
print(df.describe())

# Missing data --> Columns with Missing Values:: ['bmi', 'smoking_status']
#                  Number of rows with Missing Values:: 14328

Number of rows:: 43400
Number of columns:: 11
Column Names:: ['gender', 'age', 'hypertension', 'heart_disease', 'ever_married', 'work_type', 'Residence_type', 'avg_glucose_level', 'bmi', 'smoking_status', 'stroke']
Column Data Types::
 gender                object
age                  float64
hypertension           int64
heart_disease          int64
ever_married          object
work_type             object
Residence_type        object
avg_glucose_level    float64
bmi                  float64
smoking_status        object
stroke                 int64
dtype: object
Columns with Missing Values:: ['bmi', 'smoking_status']
Number of rows with Missing Values:: 14328
General Stats::
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43400 entries, 0 to 43399
Data columns (total 11 columns):
gender               43400 non-null object
age                  43400 non-null float64
hypertension         43400 non-null int64
heart_disease        43400 non-null int64
ever_married         43400 non-null object
work_type            43400 non-null object
Residence_type       43400 non-null object
avg_glucose_level    43400 non-null float64
bmi                  41938 non-null float64
smoking_status       30108 non-null object
stroke               43400 non-null int64
dtypes: float64(3), int64(3), object(5)
memory usage: 3.6+ MB
None
Summary Stats::
                age  hypertension  heart_disease  avg_glucose_level  \
count  43400.000000  43400.000000   43400.000000       43400.000000
mean      42.217894      0.093571       0.047512         104.482750
std       22.519649      0.291235       0.212733          43.111751
min        0.080000      0.000000       0.000000          55.000000
25%       24.000000      0.000000       0.000000          77.540000
50%       44.000000      0.000000       0.000000          91.580000
75%       60.000000      0.000000       0.000000         112.070000
max       82.000000      1.000000       1.000000         291.050000

                bmi        stroke
count  41938.000000  43400.000000
mean      28.605038      0.018041
std        7.770020      0.133103
min       10.100000      0.000000
25%       23.200000      0.000000
50%       27.700000      0.000000
75%       32.900000      0.000000
max       97.600000      1.000000

In [26]:
#remove missing values/rows
#Columns with Missing Values:: ['bmi', 'smoking_status']
print("Drop Rows with missing bmi::" )
df_dropped = df.dropna(subset=['bmi'])
print("Shape::",df_dropped.shape)

Drop Rows with missing bmi::
Shape:: (41938, 11)

In [27]:
# remove missing rows associated to smoking_status
print("Drop Rows with missing smoking_status::" )
df_dropped = df_dropped.dropna(subset=['smoking_status'])
print("Shape::",df_dropped.shape)

Drop Rows with missing smoking_status::
Shape:: (29072, 11)

In [28]:
# check there is no more missing row/columns
print("Columns with Missing Values::",df_dropped.columns[df.isnull().any()].tolist())
print("Number of rows with Missing Values::",len(pd.isnull(df_dropped).any(1).nonzero()[0].tolist()))

Columns with Missing Values:: ['bmi', 'smoking_status']
Number of rows with Missing Values:: 0

# Another way of handing missing data
# Kth nearest imputation

In [29]:
# turn of warning messages
pd.options.mode.chained_assignment = None  # default='warn'

# get data
df = pd.read_csv('train_ajEneEa.csv')
df.columns
df = df[['gender', 'age', 'hypertension', 'heart_disease', 'ever_married',
       'work_type', 'Residence_type', 'avg_glucose_level', 'bmi',
       'smoking_status', 'stroke']]
df

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,Male,3.0,0,0,No,children,Rural,95.12,18.0,NaN,0
1,Male,58.0,1,0,Yes,Private,Urban,87.96,39.2,never smoked,0
2,Female,8.0,0,0,No,Private,Urban,110.89,17.6,NaN,0
3,Female,70.0,0,0,Yes,Private,Rural,69.04,35.9,formerly smoked,0
4,Male,14.0,0,0,No,Never_worked,Rural,161.28,19.1,NaN,0
5,Female,47.0,0,0,Yes,Private,Urban,210.95,50.1,NaN,0
6,Female,52.0,0,0,Yes,Private,Urban,77.59,17.7,formerly smoked,0
7,Female,75.0,0,1,Yes,Self-employed,Rural,243.53,27.0,never smoked,0
8,Female,32.0,0,0,Yes,Private,Rural,77.67,32.3,smokes,0
9,Female,74.0,1,0,Yes,Self-employed,Urban,205.84,54.6,never smoked,0
10,Female,79.0,0,0,Yes,Govt_job,Urban,77.08,35.0,NaN,0
11,Male,79.0,0,1,Yes,Private,Urban,57.08,22.0,formerly smoked,0
12,Female,37.0,0,0,Yes,Private,Rural,162.96,39.4,never smoked,0
13,Female,37.0,0,0,Yes,Private,Rural,73.50,26.1,formerly smoked,0
14,Female,40.0,0,0,Yes,Private,Rural,95.04,42.4,never smoked,0
15,Male,35.0,0,0,No,Private,Rural,85.37,33.0,never smoked,0
16,Female,20.0,0,0,No,Private,Urban,84.62,19.7,smokes,0
17,Female,42.0,0,0,Yes,Private,Rural,82.67,22.5,never smoked,0
18,Female,44.0,0,0,Yes,Govt_job,Urban,57.33,24.6,smokes,0
19,Female,79.0,0,1,Yes,Self-employed,Urban,67.84,25.2,smokes,0
20,Female,65.0,1,0,Yes,Private,Rural,75.70,41.8,NaN,0
21,Female,57.0,1,0,Yes,Private,Rural,129.54,60.9,smokes,0
22,Female,49.0,0,0,Yes,Private,Rural,60.22,31.5,smokes,0
23,Male,71.0,0,0,Yes,Private,Urban,198.21,27.3,formerly smoked,0
24,Female,59.0,0,0,Yes,Private,Urban,109.82,23.7,never smoked,0
25,Female,25.0,0,0,Yes,Private,Urban,60.84,24.5,never smoked,0
26,Female,67.0,0,0,Yes,Govt_job,Rural,94.61,28.4,smokes,0
27,Female,38.0,0,0,No,Private,Rural,97.49,26.9,never smoked,0
28,Female,54.0,0,0,Yes,Private,Rural,206.72,26.7,never smoked,0
29,Female,70.0,0,0,Yes,Self-employed,Rural,214.45,31.2,never smoked,0
...,...,...,...,...,...,...,...,...,...,...,...
43370,Male,79.0,0,0,Yes,Self-employed,Rural,100.71,25.2,never smoked,0
43371,Female,78.0,0,0,Yes,Private,Urban,182.45,NaN,formerly smoked,0
43372,Male,36.0,1,0,Yes,Private,Urban,149.22,33.4,NaN,0
43373,Female,46.0,0,0,No,Private,Rural,88.66,34.5,smokes,0
43374,Male,49.0,0,0,Yes,Private,Rural,98.91,35.3,smokes,0
43375,Female,70.0,0,0,Yes,Self-employed,Rural,121.45,27.3,never smoked,0
43376,Female,3.0,0,0,No,children,Rural,83.32,21.3,NaN,0
43377,Female,63.0,0,0,Yes,Govt_job,Urban,88.08,33.6,never smoked,0
43378,Male,22.0,0,0,No,Private,Urban,86.82,30.2,never smoked,0
43379,Male,47.0,0,1,Yes,Govt_job,Urban,89.25,29.0,NaN,0
43380,Male,26.0,0,0,Yes,Private,Rural,71.31,25.3,formerly smoked,0
43381,Male,45.0,0,0,Yes,Private,Urban,214.05,40.5,formerly smoked,0
43382,Female,9.0,0,0,No,children,Urban,68.49,16.8,NaN,0
43383,Male,18.0,0,0,No,Private,Urban,131.73,24.9,never smoked,0
43384,Female,65.0,0,0,Yes,Private,Rural,200.92,30.7,formerly smoked,0
43385,Female,66.0,0,0,Yes,Self-employed,Urban,92.10,24.8,NaN,0
43386,Male,68.0,0,1,Yes,Private,Urban,113.60,25.5,never smoked,0
43387,Male,20.0,0,0,No,Private,Rural,83.37,26.5,never smoked,0
43388,Female,64.0,1,0,Yes,Govt_job,Rural,228.43,NaN,smokes,0
43389,Male,14.0,0,0,No,children,Urban,82.48,24.8,NaN,0
43390,Female,69.0,0,0,Yes,Self-employed,Urban,229.85,31.2,never smoked,0
43391,Male,6.0,0,0,No,children,Urban,77.48,19.1,NaN,0
43392,Female,18.0,0,0,No,Private,Urban,131.96,22.8,NaN,0
43393,Male,39.0,0,0,Yes,Private,Rural,132.22,31.6,never smoked,0
43394,Male,47.0,0,0,No,Govt_job,Urban,68.52,25.2,formerly smoked,0
43395,Female,10.0,0,0,No,children,Urban,58.64,20.4,never smoked,0
43396,Female,56.0,0,0,Yes,Govt_job,Urban,213.61,55.4,formerly smoked,0
43397,Female,82.0,1,0,Yes,Private,Urban,91.94,28.9,formerly smoked,0
43398,Male,40.0,0,0,Yes,Private,Urban,99.16,33.2,never smoked,0
43399,Female,82.0,0,0,Yes,Private,Urban,79.48,20.6,never smoked,0

In [30]:
#first obtain all of the factor levels of predictors
df.columns
print(pd.Series.unique(df.smoking_status))
print(pd.Series.unique(df.gender) )
print(pd.Series.unique(df.ever_married))
print(pd.Series.unique(df.work_type))
print(pd.Series.unique(df.Residence_type))

[nan 'never smoked' 'formerly smoked' 'smokes']
['Male' 'Female' 'Other']
['No' 'Yes']
['children' 'Private' 'Never_worked' 'Self-employed' 'Govt_job']
['Rural' 'Urban']

In [31]:
#change string to numeric for columns with missing value
# to use fancyimpute
df.smoking_status=df.smoking_status.map({'never smoked':1, 'formerly smoked':0, 'smokes':-1})
df.gender=df.gender.map({'Male':1, 'Female':0, 'Other':-1})
df.ever_married = df.ever_married.map({'No':1 ,'Yes':0})
df.work_type = df.work_type.map({'children':1 , 'Private':2, 'Never_worked':3, 'Self-employed':4, 'Govt_job':5})
df.Residence_type = df.Residence_type.map({'Rural':1, 'Urban':0})
df

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
0,1,3.0,0,0,1,1,1,95.12,18.0,NaN,0
1,1,58.0,1,0,0,2,0,87.96,39.2,1.0,0
2,0,8.0,0,0,1,2,0,110.89,17.6,NaN,0
3,0,70.0,0,0,0,2,1,69.04,35.9,0.0,0
4,1,14.0,0,0,1,3,1,161.28,19.1,NaN,0
5,0,47.0,0,0,0,2,0,210.95,50.1,NaN,0
6,0,52.0,0,0,0,2,0,77.59,17.7,0.0,0
7,0,75.0,0,1,0,4,1,243.53,27.0,1.0,0
8,0,32.0,0,0,0,2,1,77.67,32.3,-1.0,0
9,0,74.0,1,0,0,4,0,205.84,54.6,1.0,0
10,0,79.0,0,0,0,5,0,77.08,35.0,NaN,0
11,1,79.0,0,1,0,2,0,57.08,22.0,0.0,0
12,0,37.0,0,0,0,2,1,162.96,39.4,1.0,0
13,0,37.0,0,0,0,2,1,73.50,26.1,0.0,0
14,0,40.0,0,0,0,2,1,95.04,42.4,1.0,0
15,1,35.0,0,0,1,2,1,85.37,33.0,1.0,0
16,0,20.0,0,0,1,2,0,84.62,19.7,-1.0,0
17,0,42.0,0,0,0,2,1,82.67,22.5,1.0,0
18,0,44.0,0,0,0,5,0,57.33,24.6,-1.0,0
19,0,79.0,0,1,0,4,0,67.84,25.2,-1.0,0
20,0,65.0,1,0,0,2,1,75.70,41.8,NaN,0
21,0,57.0,1,0,0,2,1,129.54,60.9,-1.0,0
22,0,49.0,0,0,0,2,1,60.22,31.5,-1.0,0
23,1,71.0,0,0,0,2,0,198.21,27.3,0.0,0
24,0,59.0,0,0,0,2,0,109.82,23.7,1.0,0
25,0,25.0,0,0,0,2,0,60.84,24.5,1.0,0
26,0,67.0,0,0,0,5,1,94.61,28.4,-1.0,0
27,0,38.0,0,0,1,2,1,97.49,26.9,1.0,0
28,0,54.0,0,0,0,2,1,206.72,26.7,1.0,0
29,0,70.0,0,0,0,4,1,214.45,31.2,1.0,0
...,...,...,...,...,...,...,...,...,...,...,...
43370,1,79.0,0,0,0,4,1,100.71,25.2,1.0,0
43371,0,78.0,0,0,0,2,0,182.45,NaN,0.0,0
43372,1,36.0,1,0,0,2,0,149.22,33.4,NaN,0
43373,0,46.0,0,0,1,2,1,88.66,34.5,-1.0,0
43374,1,49.0,0,0,0,2,1,98.91,35.3,-1.0,0
43375,0,70.0,0,0,0,4,1,121.45,27.3,1.0,0
43376,0,3.0,0,0,1,1,1,83.32,21.3,NaN,0
43377,0,63.0,0,0,0,5,0,88.08,33.6,1.0,0
43378,1,22.0,0,0,1,2,0,86.82,30.2,1.0,0
43379,1,47.0,0,1,0,5,0,89.25,29.0,NaN,0
43380,1,26.0,0,0,0,2,1,71.31,25.3,0.0,0
43381,1,45.0,0,0,0,2,0,214.05,40.5,0.0,0
43382,0,9.0,0,0,1,1,0,68.49,16.8,NaN,0
43383,1,18.0,0,0,1,2,0,131.73,24.9,1.0,0
43384,0,65.0,0,0,0,2,1,200.92,30.7,0.0,0
43385,0,66.0,0,0,0,4,0,92.10,24.8,NaN,0
43386,1,68.0,0,1,0,2,0,113.60,25.5,1.0,0
43387,1,20.0,0,0,1,2,1,83.37,26.5,1.0,0
43388,0,64.0,1,0,0,5,1,228.43,NaN,-1.0,0
43389,1,14.0,0,0,1,1,0,82.48,24.8,NaN,0
43390,0,69.0,0,0,0,4,0,229.85,31.2,1.0,0
43391,1,6.0,0,0,1,1,0,77.48,19.1,NaN,0
43392,0,18.0,0,0,1,2,0,131.96,22.8,NaN,0
43393,1,39.0,0,0,0,2,1,132.22,31.6,1.0,0
43394,1,47.0,0,0,1,5,0,68.52,25.2,0.0,0
43395,0,10.0,0,0,1,1,0,58.64,20.4,1.0,0
43396,0,56.0,0,0,0,5,0,213.61,55.4,0.0,0
43397,0,82.0,1,0,0,2,0,91.94,28.9,0.0,0
43398,1,40.0,0,0,0,2,0,99.16,33.2,1.0,0
43399,0,82.0,0,0,0,2,0,79.48,20.6,1.0,0

In [33]:
# change the value "K" as you want
df_kth = fancyimpute.KNN(k=3,orientation='columns').complete(df)

Imputing row 1/11 with 0 missing, elapsed time: 0.059

In [34]:
# reconstruct the data with the imputing result
values = df_kth
index = ['Row'+str(i) for i in range(1, len(values)+1)]

# Let dftest refer to the Kth nearest imputed data
dftest = pd.DataFrame(values, index=index)

In [16]:
dftest

           0     1    2    3    4    5    6       7     8    9    10
Row1      1.0   3.0  0.0  0.0  1.0  1.0  1.0   95.12  18.0  0.0  0.0
Row2      1.0  58.0  1.0  0.0  0.0  2.0  0.0   87.96  39.2  1.0  0.0
Row3      0.0   8.0  0.0  0.0  1.0  2.0  0.0  110.89  17.6  0.0  0.0
Row4      0.0  70.0  0.0  0.0  0.0  2.0  1.0   69.04  35.9  0.0  0.0
Row5      1.0  14.0  0.0  0.0  1.0  3.0  1.0  161.28  19.1  0.0  0.0
Row6      0.0  47.0  0.0  0.0  0.0  2.0  0.0  210.95  50.1  0.0  0.0
Row7      0.0  52.0  0.0  0.0  0.0  2.0  0.0   77.59  17.7  0.0  0.0
Row8      0.0  75.0  0.0  1.0  0.0  4.0  1.0  243.53  27.0  1.0  0.0
Row9      0.0  32.0  0.0  0.0  0.0  2.0  1.0   77.67  32.3 -1.0  0.0
Row10     0.0  74.0  1.0  0.0  0.0  4.0  0.0  205.84  54.6  1.0  0.0
Row11     0.0  79.0  0.0  0.0  0.0  5.0  0.0   77.08  35.0  0.0  0.0
Row12     1.0  79.0  0.0  1.0  0.0  2.0  0.0   57.08  22.0  0.0  0.0
Row13     0.0  37.0  0.0  0.0  0.0  2.0  1.0  162.96  39.4  1.0  0.0
Row14     0.0  37.0  0.0  0.0  0.0  2.0  1.0   73.50  26.1  0.0  0.0
Row15     0.0  40.0  0.0  0.0  0.0  2.0  1.0   95.04  42.4  1.0  0.0
Row16     1.0  35.0  0.0  0.0  1.0  2.0  1.0   85.37  33.0  1.0  0.0
Row17     0.0  20.0  0.0  0.0  1.0  2.0  0.0   84.62  19.7 -1.0  0.0
Row18     0.0  42.0  0.0  0.0  0.0  2.0  1.0   82.67  22.5  1.0  0.0
Row19     0.0  44.0  0.0  0.0  0.0  5.0  0.0   57.33  24.6 -1.0  0.0
Row20     0.0  79.0  0.0  1.0  0.0  4.0  0.0   67.84  25.2 -1.0  0.0
Row21     0.0  65.0  1.0  0.0  0.0  2.0  1.0   75.70  41.8  0.0  0.0
Row22     0.0  57.0  1.0  0.0  0.0  2.0  1.0  129.54  60.9 -1.0  0.0
Row23     0.0  49.0  0.0  0.0  0.0  2.0  1.0   60.22  31.5 -1.0  0.0
Row24     1.0  71.0  0.0  0.0  0.0  2.0  0.0  198.21  27.3  0.0  0.0
Row25     0.0  59.0  0.0  0.0  0.0  2.0  0.0  109.82  23.7  1.0  0.0
Row26     0.0  25.0  0.0  0.0  0.0  2.0  0.0   60.84  24.5  1.0  0.0
Row27     0.0  67.0  0.0  0.0  0.0  5.0  1.0   94.61  28.4 -1.0  0.0
Row28     0.0  38.0  0.0  0.0  1.0  2.0  1.0   97.49  26.9  1.0  0.0
Row29     0.0  54.0  0.0  0.0  0.0  2.0  1.0  206.72  26.7  1.0  0.0
Row30     0.0  70.0  0.0  0.0  0.0  4.0  1.0  214.45  31.2  1.0  0.0
...       ...   ...  ...  ...  ...  ...  ...     ...   ...  ...  ...
Row43371  1.0  79.0  0.0  0.0  0.0  4.0  1.0  100.71  25.2  1.0  0.0
Row43372  0.0  78.0  0.0  0.0  0.0  2.0  0.0  182.45  78.0  0.0  0.0
Row43373  1.0  36.0  1.0  0.0  0.0  2.0  0.0  149.22  33.4  0.0  0.0
Row43374  0.0  46.0  0.0  0.0  1.0  2.0  1.0   88.66  34.5 -1.0  0.0
Row43375  1.0  49.0  0.0  0.0  0.0  2.0  1.0   98.91  35.3 -1.0  0.0
Row43376  0.0  70.0  0.0  0.0  0.0  4.0  1.0  121.45  27.3  1.0  0.0
Row43377  0.0   3.0  0.0  0.0  1.0  1.0  1.0   83.32  21.3  0.0  0.0
Row43378  0.0  63.0  0.0  0.0  0.0  5.0  0.0   88.08  33.6  1.0  0.0
Row43379  1.0  22.0  0.0  0.0  1.0  2.0  0.0   86.82  30.2  1.0  0.0
Row43380  1.0  47.0  0.0  1.0  0.0  5.0  0.0   89.25  29.0  0.0  0.0
Row43381  1.0  26.0  0.0  0.0  0.0  2.0  1.0   71.31  25.3  0.0  0.0
Row43382  1.0  45.0  0.0  0.0  0.0  2.0  0.0  214.05  40.5  0.0  0.0
Row43383  0.0   9.0  0.0  0.0  1.0  1.0  0.0   68.49  16.8  0.0  0.0
Row43384  1.0  18.0  0.0  0.0  1.0  2.0  0.0  131.73  24.9  1.0  0.0
Row43385  0.0  65.0  0.0  0.0  0.0  2.0  1.0  200.92  30.7  0.0  0.0
Row43386  0.0  66.0  0.0  0.0  0.0  4.0  0.0   92.10  24.8  0.0  0.0
Row43387  1.0  68.0  0.0  1.0  0.0  2.0  0.0  113.60  25.5  1.0  0.0
Row43388  1.0  20.0  0.0  0.0  1.0  2.0  1.0   83.37  26.5  1.0  0.0
Row43389  0.0  64.0  1.0  0.0  0.0  5.0  1.0  228.43  64.0 -1.0  0.0
Row43390  1.0  14.0  0.0  0.0  1.0  1.0  0.0   82.48  24.8  0.0  0.0
Row43391  0.0  69.0  0.0  0.0  0.0  4.0  0.0  229.85  31.2  1.0  0.0
Row43392  1.0   6.0  0.0  0.0  1.0  1.0  0.0   77.48  19.1  0.0  0.0
Row43393  0.0  18.0  0.0  0.0  1.0  2.0  0.0  131.96  22.8  0.0  0.0
Row43394  1.0  39.0  0.0  0.0  0.0  2.0  1.0  132.22  31.6  1.0  0.0
Row43395  1.0  47.0  0.0  0.0  1.0  5.0  0.0   68.52  25.2  0.0  0.0
Row43396  0.0  10.0  0.0  0.0  1.0  1.0  0.0   58.64  20.4  1.0  0.0
Row43397  0.0  56.0  0.0  0.0  0.0  5.0  0.0  213.61  55.4  0.0  0.0
Row43398  0.0  82.0  1.0  0.0  0.0  2.0  0.0   91.94  28.9  0.0  0.0
Row43399  1.0  40.0  0.0  0.0  0.0  2.0  0.0   99.16  33.2  1.0  0.0
Row43400  0.0  82.0  0.0  0.0  0.0  2.0  0.0   79.48  20.6  1.0  0.0

[43400 rows x 11 columns]

In [35]:
# Reconstruct the collumn names 
dftest.columns = ['gender', 'age', 'hypertension', 'heart_disease', 'ever_married',
       'work_type', 'Residence_type', 'avg_glucose_level', 'bmi',
       'smoking_status', 'stroke']

In [36]:
dftest

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
Row1,1.0,3.0,0.0,0.0,1.0,1.0,1.0,95.12,18.000000,0.328775,0.0
Row2,1.0,58.0,1.0,0.0,0.0,2.0,0.0,87.96,39.200000,1.000000,0.0
Row3,0.0,8.0,0.0,0.0,1.0,2.0,0.0,110.89,17.600000,0.328775,0.0
Row4,0.0,70.0,0.0,0.0,0.0,2.0,1.0,69.04,35.900000,0.000000,0.0
Row5,1.0,14.0,0.0,0.0,1.0,3.0,1.0,161.28,19.100000,0.328775,0.0
Row6,0.0,47.0,0.0,0.0,0.0,2.0,0.0,210.95,50.100000,0.000000,0.0
Row7,0.0,52.0,0.0,0.0,0.0,2.0,0.0,77.59,17.700000,0.000000,0.0
Row8,0.0,75.0,0.0,1.0,0.0,4.0,1.0,243.53,27.000000,1.000000,0.0
Row9,0.0,32.0,0.0,0.0,0.0,2.0,1.0,77.67,32.300000,-1.000000,0.0
Row10,0.0,74.0,1.0,0.0,0.0,4.0,0.0,205.84,54.600000,1.000000,0.0
Row11,0.0,79.0,0.0,0.0,0.0,5.0,0.0,77.08,35.000000,0.000000,0.0
Row12,1.0,79.0,0.0,1.0,0.0,2.0,0.0,57.08,22.000000,0.000000,0.0
Row13,0.0,37.0,0.0,0.0,0.0,2.0,1.0,162.96,39.400000,1.000000,0.0
Row14,0.0,37.0,0.0,0.0,0.0,2.0,1.0,73.50,26.100000,0.000000,0.0
Row15,0.0,40.0,0.0,0.0,0.0,2.0,1.0,95.04,42.400000,1.000000,0.0
Row16,1.0,35.0,0.0,0.0,1.0,2.0,1.0,85.37,33.000000,1.000000,0.0
Row17,0.0,20.0,0.0,0.0,1.0,2.0,0.0,84.62,19.700000,-1.000000,0.0
Row18,0.0,42.0,0.0,0.0,0.0,2.0,1.0,82.67,22.500000,1.000000,0.0
Row19,0.0,44.0,0.0,0.0,0.0,5.0,0.0,57.33,24.600000,-1.000000,0.0
Row20,0.0,79.0,0.0,1.0,0.0,4.0,0.0,67.84,25.200000,-1.000000,0.0
Row21,0.0,65.0,1.0,0.0,0.0,2.0,1.0,75.70,41.800000,0.000000,0.0
Row22,0.0,57.0,1.0,0.0,0.0,2.0,1.0,129.54,60.900000,-1.000000,0.0
Row23,0.0,49.0,0.0,0.0,0.0,2.0,1.0,60.22,31.500000,-1.000000,0.0
Row24,1.0,71.0,0.0,0.0,0.0,2.0,0.0,198.21,27.300000,0.000000,0.0
Row25,0.0,59.0,0.0,0.0,0.0,2.0,0.0,109.82,23.700000,1.000000,0.0
Row26,0.0,25.0,0.0,0.0,0.0,2.0,0.0,60.84,24.500000,1.000000,0.0
Row27,0.0,67.0,0.0,0.0,0.0,5.0,1.0,94.61,28.400000,-1.000000,0.0
Row28,0.0,38.0,0.0,0.0,1.0,2.0,1.0,97.49,26.900000,1.000000,0.0
Row29,0.0,54.0,0.0,0.0,0.0,2.0,1.0,206.72,26.700000,1.000000,0.0
Row30,0.0,70.0,0.0,0.0,0.0,4.0,1.0,214.45,31.200000,1.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...
Row43371,1.0,79.0,0.0,0.0,0.0,4.0,1.0,100.71,25.200000,1.000000,0.0
Row43372,0.0,78.0,0.0,0.0,0.0,2.0,0.0,182.45,31.122598,0.000000,0.0
Row43373,1.0,36.0,1.0,0.0,0.0,2.0,0.0,149.22,33.400000,0.000000,0.0
Row43374,0.0,46.0,0.0,0.0,1.0,2.0,1.0,88.66,34.500000,-1.000000,0.0
Row43375,1.0,49.0,0.0,0.0,0.0,2.0,1.0,98.91,35.300000,-1.000000,0.0
Row43376,0.0,70.0,0.0,0.0,0.0,4.0,1.0,121.45,27.300000,1.000000,0.0
Row43377,0.0,3.0,0.0,0.0,1.0,1.0,1.0,83.32,21.300000,0.328775,0.0
Row43378,0.0,63.0,0.0,0.0,0.0,5.0,0.0,88.08,33.600000,1.000000,0.0
Row43379,1.0,22.0,0.0,0.0,1.0,2.0,0.0,86.82,30.200000,1.000000,0.0
Row43380,1.0,47.0,0.0,1.0,0.0,5.0,0.0,89.25,29.000000,0.328541,0.0
Row43381,1.0,26.0,0.0,0.0,0.0,2.0,1.0,71.31,25.300000,0.000000,0.0
Row43382,1.0,45.0,0.0,0.0,0.0,2.0,0.0,214.05,40.500000,0.000000,0.0
Row43383,0.0,9.0,0.0,0.0,1.0,1.0,0.0,68.49,16.800000,0.328775,0.0
Row43384,1.0,18.0,0.0,0.0,1.0,2.0,0.0,131.73,24.900000,1.000000,0.0
Row43385,0.0,65.0,0.0,0.0,0.0,2.0,1.0,200.92,30.700000,0.000000,0.0
Row43386,0.0,66.0,0.0,0.0,0.0,4.0,0.0,92.10,24.800000,0.000000,0.0
Row43387,1.0,68.0,0.0,1.0,0.0,2.0,0.0,113.60,25.500000,1.000000,0.0
Row43388,1.0,20.0,0.0,0.0,1.0,2.0,1.0,83.37,26.500000,1.000000,0.0
Row43389,0.0,64.0,1.0,0.0,0.0,5.0,1.0,228.43,26.916352,-1.000000,0.0
Row43390,1.0,14.0,0.0,0.0,1.0,1.0,0.0,82.48,24.800000,0.328775,0.0
Row43391,0.0,69.0,0.0,0.0,0.0,4.0,0.0,229.85,31.200000,1.000000,0.0
Row43392,1.0,6.0,0.0,0.0,1.0,1.0,0.0,77.48,19.100000,0.328775,0.0
Row43393,0.0,18.0,0.0,0.0,1.0,2.0,0.0,131.96,22.800000,0.328775,0.0
Row43394,1.0,39.0,0.0,0.0,0.0,2.0,1.0,132.22,31.600000,1.000000,0.0
Row43395,1.0,47.0,0.0,0.0,1.0,5.0,0.0,68.52,25.200000,0.000000,0.0
Row43396,0.0,10.0,0.0,0.0,1.0,1.0,0.0,58.64,20.400000,1.000000,0.0
Row43397,0.0,56.0,0.0,0.0,0.0,5.0,0.0,213.61,55.400000,0.000000,0.0
Row43398,0.0,82.0,1.0,0.0,0.0,2.0,0.0,91.94,28.900000,0.000000,0.0
Row43399,1.0,40.0,0.0,0.0,0.0,2.0,0.0,99.16,33.200000,1.000000,0.0
Row43400,0.0,82.0,0.0,0.0,0.0,2.0,0.0,79.48,20.600000,1.000000,0.0

In [37]:
# The numericalized categorical variables need to be back to 
# the original categorical values         --- smoking status ---

# Remember we only assign 1, 0, -1 For smoking_status
# we take take a rounded value to decided a factor level of 
# imputed data
print(pd.Series.unique(dftest.smoking_status) )
dftest.smoking_status = dftest.smoking_status.astype(int)

[ 0.32877461  1.          0.         -1.          0.32854112  0.34268424
  0.67122536  0.99999997  0.67145885  0.65731573]

In [40]:
print(pd.Series.unique(dftest.smoking_status))

[ 0  1 -1]

In [41]:
#Get numericalized values be original categorical values
#change string to numeric for columns with missing value -- others
dftest.smoking_status=dftest.smoking_status.map({1:'never smoked', 0:'formerly smoked', -1:'smokes'})
dftest.gender=dftest.gender.map({1:'Male', 0:'Female', -1:'Other'})
dftest.ever_married = dftest.ever_married.map({1:'No' ,0:'Yes'})
dftest.work_type = dftest.work_type.map({1:'children',2: 'Private', 3:'Never_worked', 4:'Self-employed', 5:'Govt_job'})
dftest.Residence_type = dftest.Residence_type.map({1.0:'Rural', 0.0:'Urban'})

In [42]:
# Regarding stroke, float --> int
dftest.stroke = dftest.stroke.astype(int)
dftest

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status,stroke
Row1,Male,3.0,0.0,0.0,No,children,Rural,95.12,18.000000,formerly smoked,0
Row2,Male,58.0,1.0,0.0,Yes,Private,Urban,87.96,39.200000,never smoked,0
Row3,Female,8.0,0.0,0.0,No,Private,Urban,110.89,17.600000,formerly smoked,0
Row4,Female,70.0,0.0,0.0,Yes,Private,Rural,69.04,35.900000,formerly smoked,0
Row5,Male,14.0,0.0,0.0,No,Never_worked,Rural,161.28,19.100000,formerly smoked,0
Row6,Female,47.0,0.0,0.0,Yes,Private,Urban,210.95,50.100000,formerly smoked,0
Row7,Female,52.0,0.0,0.0,Yes,Private,Urban,77.59,17.700000,formerly smoked,0
Row8,Female,75.0,0.0,1.0,Yes,Self-employed,Rural,243.53,27.000000,never smoked,0
Row9,Female,32.0,0.0,0.0,Yes,Private,Rural,77.67,32.300000,smokes,0
Row10,Female,74.0,1.0,0.0,Yes,Self-employed,Urban,205.84,54.600000,never smoked,0
Row11,Female,79.0,0.0,0.0,Yes,Govt_job,Urban,77.08,35.000000,formerly smoked,0
Row12,Male,79.0,0.0,1.0,Yes,Private,Urban,57.08,22.000000,formerly smoked,0
Row13,Female,37.0,0.0,0.0,Yes,Private,Rural,162.96,39.400000,never smoked,0
Row14,Female,37.0,0.0,0.0,Yes,Private,Rural,73.50,26.100000,formerly smoked,0
Row15,Female,40.0,0.0,0.0,Yes,Private,Rural,95.04,42.400000,never smoked,0
Row16,Male,35.0,0.0,0.0,No,Private,Rural,85.37,33.000000,never smoked,0
Row17,Female,20.0,0.0,0.0,No,Private,Urban,84.62,19.700000,smokes,0
Row18,Female,42.0,0.0,0.0,Yes,Private,Rural,82.67,22.500000,never smoked,0
Row19,Female,44.0,0.0,0.0,Yes,Govt_job,Urban,57.33,24.600000,smokes,0
Row20,Female,79.0,0.0,1.0,Yes,Self-employed,Urban,67.84,25.200000,smokes,0
Row21,Female,65.0,1.0,0.0,Yes,Private,Rural,75.70,41.800000,formerly smoked,0
Row22,Female,57.0,1.0,0.0,Yes,Private,Rural,129.54,60.900000,smokes,0
Row23,Female,49.0,0.0,0.0,Yes,Private,Rural,60.22,31.500000,smokes,0
Row24,Male,71.0,0.0,0.0,Yes,Private,Urban,198.21,27.300000,formerly smoked,0
Row25,Female,59.0,0.0,0.0,Yes,Private,Urban,109.82,23.700000,never smoked,0
Row26,Female,25.0,0.0,0.0,Yes,Private,Urban,60.84,24.500000,never smoked,0
Row27,Female,67.0,0.0,0.0,Yes,Govt_job,Rural,94.61,28.400000,smokes,0
Row28,Female,38.0,0.0,0.0,No,Private,Rural,97.49,26.900000,never smoked,0
Row29,Female,54.0,0.0,0.0,Yes,Private,Rural,206.72,26.700000,never smoked,0
Row30,Female,70.0,0.0,0.0,Yes,Self-employed,Rural,214.45,31.200000,never smoked,0
...,...,...,...,...,...,...,...,...,...,...,...
Row43371,Male,79.0,0.0,0.0,Yes,Self-employed,Rural,100.71,25.200000,never smoked,0
Row43372,Female,78.0,0.0,0.0,Yes,Private,Urban,182.45,31.122598,formerly smoked,0
Row43373,Male,36.0,1.0,0.0,Yes,Private,Urban,149.22,33.400000,formerly smoked,0
Row43374,Female,46.0,0.0,0.0,No,Private,Rural,88.66,34.500000,smokes,0
Row43375,Male,49.0,0.0,0.0,Yes,Private,Rural,98.91,35.300000,smokes,0
Row43376,Female,70.0,0.0,0.0,Yes,Self-employed,Rural,121.45,27.300000,never smoked,0
Row43377,Female,3.0,0.0,0.0,No,children,Rural,83.32,21.300000,formerly smoked,0
Row43378,Female,63.0,0.0,0.0,Yes,Govt_job,Urban,88.08,33.600000,never smoked,0
Row43379,Male,22.0,0.0,0.0,No,Private,Urban,86.82,30.200000,never smoked,0
Row43380,Male,47.0,0.0,1.0,Yes,Govt_job,Urban,89.25,29.000000,formerly smoked,0
Row43381,Male,26.0,0.0,0.0,Yes,Private,Rural,71.31,25.300000,formerly smoked,0
Row43382,Male,45.0,0.0,0.0,Yes,Private,Urban,214.05,40.500000,formerly smoked,0
Row43383,Female,9.0,0.0,0.0,No,children,Urban,68.49,16.800000,formerly smoked,0
Row43384,Male,18.0,0.0,0.0,No,Private,Urban,131.73,24.900000,never smoked,0
Row43385,Female,65.0,0.0,0.0,Yes,Private,Rural,200.92,30.700000,formerly smoked,0
Row43386,Female,66.0,0.0,0.0,Yes,Self-employed,Urban,92.10,24.800000,formerly smoked,0
Row43387,Male,68.0,0.0,1.0,Yes,Private,Urban,113.60,25.500000,never smoked,0
Row43388,Male,20.0,0.0,0.0,No,Private,Rural,83.37,26.500000,never smoked,0
Row43389,Female,64.0,1.0,0.0,Yes,Govt_job,Rural,228.43,26.916352,smokes,0
Row43390,Male,14.0,0.0,0.0,No,children,Urban,82.48,24.800000,formerly smoked,0
Row43391,Female,69.0,0.0,0.0,Yes,Self-employed,Urban,229.85,31.200000,never smoked,0
Row43392,Male,6.0,0.0,0.0,No,children,Urban,77.48,19.100000,formerly smoked,0
Row43393,Female,18.0,0.0,0.0,No,Private,Urban,131.96,22.800000,formerly smoked,0
Row43394,Male,39.0,0.0,0.0,Yes,Private,Rural,132.22,31.600000,never smoked,0
Row43395,Male,47.0,0.0,0.0,No,Govt_job,Urban,68.52,25.200000,formerly smoked,0
Row43396,Female,10.0,0.0,0.0,No,children,Urban,58.64,20.400000,never smoked,0
Row43397,Female,56.0,0.0,0.0,Yes,Govt_job,Urban,213.61,55.400000,formerly smoked,0
Row43398,Female,82.0,1.0,0.0,Yes,Private,Urban,91.94,28.900000,formerly smoked,0
Row43399,Male,40.0,0.0,0.0,Yes,Private,Urban,99.16,33.200000,never smoked,0
Row43400,Female,82.0,0.0,0.0,Yes,Private,Urban,79.48,20.600000,never smoked,0

In [44]:
#Final check for NA after imputation
print("Columns with Missing Values::",dftest.columns[dftest.isnull().any()].tolist())
print("Number of rows with Missing Values::",len(pd.isnull(dftest).any(1).nonzero()[0].tolist()))

Columns with Missing Values:: []
Number of rows with Missing Values:: 0

## Creating a set of predictors and target responses

In [45]:
#--- IF YOU WANT TO IGNORE WHOLE NA VALUES COMMENT OUT THE FOLLOWING LINE--- #
df = dftest
# get features and corresponding outcomes
feature_names = ['gender', 'age', 'hypertension', 'heart_disease', 'ever_married',
       'work_type', 'Residence_type', 'avg_glucose_level', 'bmi',
       'smoking_status']
training_features = df[feature_names]

outcome_name = ['stroke']
outcome_labels = df[outcome_name]

In [46]:
training_features

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status
Row1,Male,3.0,0.0,0.0,No,children,Rural,95.12,18.000000,formerly smoked
Row2,Male,58.0,1.0,0.0,Yes,Private,Urban,87.96,39.200000,never smoked
Row3,Female,8.0,0.0,0.0,No,Private,Urban,110.89,17.600000,formerly smoked
Row4,Female,70.0,0.0,0.0,Yes,Private,Rural,69.04,35.900000,formerly smoked
Row5,Male,14.0,0.0,0.0,No,Never_worked,Rural,161.28,19.100000,formerly smoked
Row6,Female,47.0,0.0,0.0,Yes,Private,Urban,210.95,50.100000,formerly smoked
Row7,Female,52.0,0.0,0.0,Yes,Private,Urban,77.59,17.700000,formerly smoked
Row8,Female,75.0,0.0,1.0,Yes,Self-employed,Rural,243.53,27.000000,never smoked
Row9,Female,32.0,0.0,0.0,Yes,Private,Rural,77.67,32.300000,smokes
Row10,Female,74.0,1.0,0.0,Yes,Self-employed,Urban,205.84,54.600000,never smoked
Row11,Female,79.0,0.0,0.0,Yes,Govt_job,Urban,77.08,35.000000,formerly smoked
Row12,Male,79.0,0.0,1.0,Yes,Private,Urban,57.08,22.000000,formerly smoked
Row13,Female,37.0,0.0,0.0,Yes,Private,Rural,162.96,39.400000,never smoked
Row14,Female,37.0,0.0,0.0,Yes,Private,Rural,73.50,26.100000,formerly smoked
Row15,Female,40.0,0.0,0.0,Yes,Private,Rural,95.04,42.400000,never smoked
Row16,Male,35.0,0.0,0.0,No,Private,Rural,85.37,33.000000,never smoked
Row17,Female,20.0,0.0,0.0,No,Private,Urban,84.62,19.700000,smokes
Row18,Female,42.0,0.0,0.0,Yes,Private,Rural,82.67,22.500000,never smoked
Row19,Female,44.0,0.0,0.0,Yes,Govt_job,Urban,57.33,24.600000,smokes
Row20,Female,79.0,0.0,1.0,Yes,Self-employed,Urban,67.84,25.200000,smokes
Row21,Female,65.0,1.0,0.0,Yes,Private,Rural,75.70,41.800000,formerly smoked
Row22,Female,57.0,1.0,0.0,Yes,Private,Rural,129.54,60.900000,smokes
Row23,Female,49.0,0.0,0.0,Yes,Private,Rural,60.22,31.500000,smokes
Row24,Male,71.0,0.0,0.0,Yes,Private,Urban,198.21,27.300000,formerly smoked
Row25,Female,59.0,0.0,0.0,Yes,Private,Urban,109.82,23.700000,never smoked
Row26,Female,25.0,0.0,0.0,Yes,Private,Urban,60.84,24.500000,never smoked
Row27,Female,67.0,0.0,0.0,Yes,Govt_job,Rural,94.61,28.400000,smokes
Row28,Female,38.0,0.0,0.0,No,Private,Rural,97.49,26.900000,never smoked
Row29,Female,54.0,0.0,0.0,Yes,Private,Rural,206.72,26.700000,never smoked
Row30,Female,70.0,0.0,0.0,Yes,Self-employed,Rural,214.45,31.200000,never smoked
...,...,...,...,...,...,...,...,...,...,...
Row43371,Male,79.0,0.0,0.0,Yes,Self-employed,Rural,100.71,25.200000,never smoked
Row43372,Female,78.0,0.0,0.0,Yes,Private,Urban,182.45,31.122598,formerly smoked
Row43373,Male,36.0,1.0,0.0,Yes,Private,Urban,149.22,33.400000,formerly smoked
Row43374,Female,46.0,0.0,0.0,No,Private,Rural,88.66,34.500000,smokes
Row43375,Male,49.0,0.0,0.0,Yes,Private,Rural,98.91,35.300000,smokes
Row43376,Female,70.0,0.0,0.0,Yes,Self-employed,Rural,121.45,27.300000,never smoked
Row43377,Female,3.0,0.0,0.0,No,children,Rural,83.32,21.300000,formerly smoked
Row43378,Female,63.0,0.0,0.0,Yes,Govt_job,Urban,88.08,33.600000,never smoked
Row43379,Male,22.0,0.0,0.0,No,Private,Urban,86.82,30.200000,never smoked
Row43380,Male,47.0,0.0,1.0,Yes,Govt_job,Urban,89.25,29.000000,formerly smoked
Row43381,Male,26.0,0.0,0.0,Yes,Private,Rural,71.31,25.300000,formerly smoked
Row43382,Male,45.0,0.0,0.0,Yes,Private,Urban,214.05,40.500000,formerly smoked
Row43383,Female,9.0,0.0,0.0,No,children,Urban,68.49,16.800000,formerly smoked
Row43384,Male,18.0,0.0,0.0,No,Private,Urban,131.73,24.900000,never smoked
Row43385,Female,65.0,0.0,0.0,Yes,Private,Rural,200.92,30.700000,formerly smoked
Row43386,Female,66.0,0.0,0.0,Yes,Self-employed,Urban,92.10,24.800000,formerly smoked
Row43387,Male,68.0,0.0,1.0,Yes,Private,Urban,113.60,25.500000,never smoked
Row43388,Male,20.0,0.0,0.0,No,Private,Rural,83.37,26.500000,never smoked
Row43389,Female,64.0,1.0,0.0,Yes,Govt_job,Rural,228.43,26.916352,smokes
Row43390,Male,14.0,0.0,0.0,No,children,Urban,82.48,24.800000,formerly smoked
Row43391,Female,69.0,0.0,0.0,Yes,Self-employed,Urban,229.85,31.200000,never smoked
Row43392,Male,6.0,0.0,0.0,No,children,Urban,77.48,19.100000,formerly smoked
Row43393,Female,18.0,0.0,0.0,No,Private,Urban,131.96,22.800000,formerly smoked
Row43394,Male,39.0,0.0,0.0,Yes,Private,Rural,132.22,31.600000,never smoked
Row43395,Male,47.0,0.0,0.0,No,Govt_job,Urban,68.52,25.200000,formerly smoked
Row43396,Female,10.0,0.0,0.0,No,children,Urban,58.64,20.400000,never smoked
Row43397,Female,56.0,0.0,0.0,Yes,Govt_job,Urban,213.61,55.400000,formerly smoked
Row43398,Female,82.0,1.0,0.0,Yes,Private,Urban,91.94,28.900000,formerly smoked
Row43399,Male,40.0,0.0,0.0,Yes,Private,Urban,99.16,33.200000,never smoked
Row43400,Female,82.0,0.0,0.0,Yes,Private,Urban,79.48,20.600000,never smoked

In [47]:
numeric_feature_names = ['age', 'hypertension', 'heart_disease',  'avg_glucose_level', 'bmi']
categoricial_feature_names = ['gender', 'ever_married','work_type', 'Residence_type','smoking_status']

In [48]:
#Standardized data (especially important for Neural net usage..?)
from sklearn.preprocessing import StandardScaler
ss = StandardScaler()
ss.fit(training_features[numeric_feature_names])

StandardScaler(copy=True, with_mean=True, with_std=True)

In [49]:
#mean..
ss.mean_

array([4.22178940e+01, 9.35714286e-02, 4.75115207e-02, 1.04482750e+02,
       2.83750363e+01])

In [50]:
#variance
ss.var_

array([5.07122892e+02, 8.48158163e-02, 4.52541761e-02, 1.85858024e+03,
       6.21572163e+01])

In [51]:
# scale numeric features now--Perform standardization by centering and scaling
training_features[numeric_feature_names] = ss.transform(training_features[numeric_feature_names])

# view updated featureset
training_features

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status
Row1,Male,-1.741517,-0.321296,-0.223342,No,children,Rural,-0.217176,-1.315964,formerly smoked
Row2,Male,0.700823,3.112398,-0.223342,Yes,Private,Urban,-0.383258,1.373032,never smoked
Row3,Female,-1.519486,-0.321296,-0.223342,No,Private,Urban,0.148621,-1.366699,formerly smoked
Row4,Female,1.233697,-0.321296,-0.223342,Yes,Private,Rural,-0.822123,0.954462,formerly smoked
Row5,Male,-1.253049,-0.321296,-0.223342,No,Never_worked,Rural,1.317458,-1.176440,formerly smoked
Row6,Female,0.212355,-0.321296,-0.223342,Yes,Private,Urban,2.469593,2.755582,formerly smoked
Row7,Female,0.434386,-0.321296,-0.223342,Yes,Private,Urban,-0.623799,-1.354015,formerly smoked
Row8,Female,1.455728,-0.321296,4.477446,Yes,Self-employed,Rural,3.225312,-0.174409,never smoked
Row9,Female,-0.453738,-0.321296,-0.223342,Yes,Private,Rural,-0.621943,0.497840,smokes
Row10,Female,1.411322,3.112398,-0.223342,Yes,Self-employed,Urban,2.351062,3.326359,never smoked
Row11,Female,1.633353,-0.321296,-0.223342,Yes,Govt_job,Urban,-0.635629,0.840307,formerly smoked
Row12,Male,1.633353,-0.321296,4.477446,Yes,Private,Urban,-1.099545,-0.808606,formerly smoked
Row13,Female,-0.231707,-0.321296,-0.223342,Yes,Private,Rural,1.356427,1.398400,never smoked
Row14,Female,-0.231707,-0.321296,-0.223342,Yes,Private,Rural,-0.718670,-0.288564,formerly smoked
Row15,Female,-0.098488,-0.321296,-0.223342,Yes,Private,Rural,-0.219032,1.778918,never smoked
Row16,Male,-0.320519,-0.321296,-0.223342,No,Private,Rural,-0.443336,0.586628,never smoked
Row17,Female,-0.986612,-0.321296,-0.223342,No,Private,Urban,-0.460732,-1.100337,smokes
Row18,Female,-0.009676,-0.321296,-0.223342,Yes,Private,Rural,-0.505964,-0.745186,never smoked
Row19,Female,0.079137,-0.321296,-0.223342,Yes,Govt_job,Urban,-1.093746,-0.478823,smokes
Row20,Female,1.633353,-0.321296,4.477446,Yes,Self-employed,Urban,-0.849958,-0.402720,smokes
Row21,Female,1.011666,3.112398,-0.223342,Yes,Private,Rural,-0.667639,1.702815,formerly smoked
Row22,Female,0.656417,3.112398,-0.223342,Yes,Private,Rural,0.581223,4.125447,smokes
Row23,Female,0.301167,-0.321296,-0.223342,Yes,Private,Rural,-1.026710,0.396369,smokes
Row24,Male,1.278103,-0.321296,-0.223342,Yes,Private,Urban,2.174078,-0.136357,formerly smoked
Row25,Female,0.745229,-0.321296,-0.223342,Yes,Private,Urban,0.123802,-0.592979,never smoked
Row26,Female,-0.764581,-0.321296,-0.223342,Yes,Private,Urban,-1.012328,-0.491507,never smoked
Row27,Female,1.100479,-0.321296,-0.223342,Yes,Govt_job,Rural,-0.229006,0.003166,smokes
Row28,Female,-0.187301,-0.321296,-0.223342,No,Private,Rural,-0.162202,-0.187093,never smoked
Row29,Female,0.523198,-0.321296,-0.223342,Yes,Private,Rural,2.371475,-0.212461,never smoked
Row30,Female,1.233697,-0.321296,-0.223342,Yes,Self-employed,Rural,2.550778,0.358317,never smoked
...,...,...,...,...,...,...,...,...,...,...
Row43371,Male,1.633353,-0.321296,-0.223342,Yes,Self-employed,Rural,-0.087512,-0.402720,never smoked
Row43372,Female,1.588947,-0.321296,-0.223342,Yes,Private,Urban,1.808513,0.348499,formerly smoked
Row43373,Male,-0.276113,3.112398,-0.223342,Yes,Private,Urban,1.037716,0.637363,formerly smoked
Row43374,Female,0.167949,-0.321296,-0.223342,No,Private,Rural,-0.367021,0.776887,smokes
Row43375,Male,0.301167,-0.321296,-0.223342,Yes,Private,Rural,-0.129264,0.878358,smokes
Row43376,Female,1.233697,-0.321296,-0.223342,Yes,Self-employed,Rural,0.393569,-0.136357,never smoked
Row43377,Female,-1.741517,-0.321296,-0.223342,No,children,Rural,-0.490887,-0.897393,formerly smoked
Row43378,Female,0.922854,-0.321296,-0.223342,Yes,Govt_job,Urban,-0.380475,0.662731,never smoked
Row43379,Male,-0.897799,-0.321296,-0.223342,No,Private,Urban,-0.409702,0.231477,never smoked
Row43380,Male,0.212355,-0.321296,4.477446,Yes,Govt_job,Urban,-0.353336,0.079270,formerly smoked
Row43381,Male,-0.720175,-0.321296,-0.223342,Yes,Private,Rural,-0.769468,-0.390036,formerly smoked
Row43382,Male,0.123543,-0.321296,-0.223342,Yes,Private,Urban,2.541500,1.537923,formerly smoked
Row43383,Female,-1.475080,-0.321296,-0.223342,No,children,Urban,-0.834881,-1.468171,formerly smoked
Row43384,Male,-1.075424,-0.321296,-0.223342,No,Private,Urban,0.632022,-0.440772,never smoked
Row43385,Female,1.011666,-0.321296,-0.223342,Yes,Private,Rural,2.236939,0.294897,formerly smoked
Row43386,Female,1.056072,-0.321296,-0.223342,Yes,Self-employed,Urban,-0.287228,-0.453456,formerly smoked
Row43387,Male,1.144885,-0.321296,4.477446,Yes,Private,Urban,0.211482,-0.364668,never smoked
Row43388,Male,-0.986612,-0.321296,-0.223342,No,Private,Rural,-0.489727,-0.237829,never smoked
Row43389,Female,0.967260,3.112398,-0.223342,Yes,Govt_job,Rural,2.875056,-0.185019,smokes
Row43390,Male,-1.253049,-0.321296,-0.223342,No,children,Urban,-0.510371,-0.453456,formerly smoked
Row43391,Female,1.189291,-0.321296,-0.223342,Yes,Self-employed,Urban,2.907994,0.358317,never smoked
Row43392,Male,-1.608298,-0.321296,-0.223342,No,children,Urban,-0.626350,-1.176440,formerly smoked
Row43393,Female,-1.075424,-0.321296,-0.223342,No,Private,Urban,0.637357,-0.707134,formerly smoked
Row43394,Male,-0.142894,-0.321296,-0.223342,Yes,Private,Rural,0.643388,0.409053,never smoked
Row43395,Male,0.212355,-0.321296,-0.223342,No,Govt_job,Urban,-0.834185,-0.402720,formerly smoked
Row43396,Female,-1.430674,-0.321296,-0.223342,No,children,Urban,-1.063359,-1.011549,never smoked
Row43397,Female,0.612011,-0.321296,-0.223342,Yes,Govt_job,Urban,2.531294,3.427831,formerly smoked
Row43398,Female,1.766571,3.112398,-0.223342,Yes,Private,Urban,-0.290939,0.066586,formerly smoked
Row43399,Male,-0.098488,-0.321296,-0.223342,Yes,Private,Urban,-0.123465,0.611996,never smoked
Row43400,Female,1.766571,-0.321296,-0.223342,Yes,Private,Urban,-0.579959,-0.986181,never smoked

In [52]:
# creating dummy variables for categorical variables
training_features = pd.get_dummies(training_features, columns=categoricial_feature_names)
# view newly engineering features
training_features

,age,hypertension,heart_disease,avg_glucose_level,bmi,gender_Female,gender_Male,gender_Other,ever_married_No,ever_married_Yes,work_type_Govt_job,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,Residence_type_Rural,Residence_type_Urban,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
Row1,-1.741517,-0.321296,-0.223342,-0.217176,-1.315964,0,1,0,1,0,0,0,0,0,1,1,0,1,0,0
Row2,0.700823,3.112398,-0.223342,-0.383258,1.373032,0,1,0,0,1,0,0,1,0,0,0,1,0,1,0
Row3,-1.519486,-0.321296,-0.223342,0.148621,-1.366699,1,0,0,1,0,0,0,1,0,0,0,1,1,0,0
Row4,1.233697,-0.321296,-0.223342,-0.822123,0.954462,1,0,0,0,1,0,0,1,0,0,1,0,1,0,0
Row5,-1.253049,-0.321296,-0.223342,1.317458,-1.176440,0,1,0,1,0,0,1,0,0,0,1,0,1,0,0
Row6,0.212355,-0.321296,-0.223342,2.469593,2.755582,1,0,0,0,1,0,0,1,0,0,0,1,1,0,0
Row7,0.434386,-0.321296,-0.223342,-0.623799,-1.354015,1,0,0,0,1,0,0,1,0,0,0,1,1,0,0
Row8,1.455728,-0.321296,4.477446,3.225312,-0.174409,1,0,0,0,1,0,0,0,1,0,1,0,0,1,0
Row9,-0.453738,-0.321296,-0.223342,-0.621943,0.497840,1,0,0,0,1,0,0,1,0,0,1,0,0,0,1
Row10,1.411322,3.112398,-0.223342,2.351062,3.326359,1,0,0,0,1,0,0,0,1,0,0,1,0,1,0
Row11,1.633353,-0.321296,-0.223342,-0.635629,0.840307,1,0,0,0,1,1,0,0,0,0,0,1,1,0,0
Row12,1.633353,-0.321296,4.477446,-1.099545,-0.808606,0,1,0,0,1,0,0,1,0,0,0,1,1,0,0
Row13,-0.231707,-0.321296,-0.223342,1.356427,1.398400,1,0,0,0,1,0,0,1,0,0,1,0,0,1,0
Row14,-0.231707,-0.321296,-0.223342,-0.718670,-0.288564,1,0,0,0,1,0,0,1,0,0,1,0,1,0,0
Row15,-0.098488,-0.321296,-0.223342,-0.219032,1.778918,1,0,0,0,1,0,0,1,0,0,1,0,0,1,0
Row16,-0.320519,-0.321296,-0.223342,-0.443336,0.586628,0,1,0,1,0,0,0,1,0,0,1,0,0,1,0
Row17,-0.986612,-0.321296,-0.223342,-0.460732,-1.100337,1,0,0,1,0,0,0,1,0,0,0,1,0,0,1
Row18,-0.009676,-0.321296,-0.223342,-0.505964,-0.745186,1,0,0,0,1,0,0,1,0,0,1,0,0,1,0
Row19,0.079137,-0.321296,-0.223342,-1.093746,-0.478823,1,0,0,0,1,1,0,0,0,0,0,1,0,0,1
Row20,1.633353,-0.321296,4.477446,-0.849958,-0.402720,1,0,0,0,1,0,0,0,1,0,0,1,0,0,1
Row21,1.011666,3.112398,-0.223342,-0.667639,1.702815,1,0,0,0,1,0,0,1,0,0,1,0,1,0,0
Row22,0.656417,3.112398,-0.223342,0.581223,4.125447,1,0,0,0,1,0,0,1,0,0,1,0,0,0,1
Row23,0.301167,-0.321296,-0.223342,-1.026710,0.396369,1,0,0,0,1,0,0,1,0,0,1,0,0,0,1
Row24,1.278103,-0.321296,-0.223342,2.174078,-0.136357,0,1,0,0,1,0,0,1,0,0,0,1,1,0,0
Row25,0.745229,-0.321296,-0.223342,0.123802,-0.592979,1,0,0,0,1,0,0,1,0,0,0,1,0,1,0
Row26,-0.764581,-0.321296,-0.223342,-1.012328,-0.491507,1,0,0,0,1,0,0,1,0,0,0,1,0,1,0
Row27,1.100479,-0.321296,-0.223342,-0.229006,0.003166,1,0,0,0,1,1,0,0,0,0,1,0,0,0,1
Row28,-0.187301,-0.321296,-0.223342,-0.162202,-0.187093,1,0,0,1,0,0,0,1,0,0,1,0,0,1,0
Row29,0.523198,-0.321296,-0.223342,2.371475,-0.212461,1,0,0,0,1,0,0,1,0,0,1,0,0,1,0
Row30,1.233697,-0.321296,-0.223342,2.550778,0.358317,1,0,0,0,1,0,0,0,1,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Row43371,1.633353,-0.321296,-0.223342,-0.087512,-0.402720,0,1,0,0,1,0,0,0,1,0,1,0,0,1,0
Row43372,1.588947,-0.321296,-0.223342,1.808513,0.348499,1,0,0,0,1,0,0,1,0,0,0,1,1,0,0
Row43373,-0.276113,3.112398,-0.223342,1.037716,0.637363,0,1,0,0,1,0,0,1,0,0,0,1,1,0,0
Row43374,0.167949,-0.321296,-0.223342,-0.367021,0.776887,1,0,0,1,0,0,0,1,0,0,1,0,0,0,1
Row43375,0.301167,-0.321296,-0.223342,-0.129264,0.878358,0,1,0,0,1,0,0,1,0,0,1,0,0,0,1
Row43376,1.233697,-0.321296,-0.223342,0.393569,-0.136357,1,0,0,0,1,0,0,0,1,0,1,0,0,1,0
Row43377,-1.741517,-0.321296,-0.223342,-0.490887,-0.897393,1,0,0,1,0,0,0,0,0,1,1,0,1,0,0
Row43378,0.922854,-0.321296,-0.223342,-0.380475,0.662731,1,0,0,0,1,1,0,0,0,0,0,1,0,1,0
Row43379,-0.897799,-0.321296,-0.223342,-0.409702,0.231477,0,1,0,1,0,0,0,1,0,0,0,1,0,1,0
Row43380,0.212355,-0.321296,4.477446,-0.353336,0.079270,0,1,0,0,1,1,0,0,0,0,0,1,1,0,0
Row43381,-0.720175,-0.321296,-0.223342,-0.769468,-0.390036,0,1,0,0,1,0,0,1,0,0,1,0,1,0,0
Row43382,0.123543,-0.321296,-0.223342,2.541500,1.537923,0,1,0,0,1,0,0,1,0,0,0,1,1,0,0
Row43383,-1.475080,-0.321296,-0.223342,-0.834881,-1.468171,1,0,0,1,0,0,0,0,0,1,0,1,1,0,0
Row43384,-1.075424,-0.321296,-0.223342,0.632022,-0.440772,0,1,0,1,0,0,0,1,0,0,0,1,0,1,0
Row43385,1.011666,-0.321296,-0.223342,2.236939,0.294897,1,0,0,0,1,0,0,1,0,0,1,0,1,0,0
Row43386,1.056072,-0.321296,-0.223342,-0.287228,-0.453456,1,0,0,0,1,0,0,0,1,0,0,1,1,0,0
Row43387,1.144885,-0.321296,4.477446,0.211482,-0.364668,0,1,0,0,1,0,0,1,0,0,0,1,0,1,0
Row43388,-0.986612,-0.321296,-0.223342,-0.489727,-0.237829,0,1,0,1,0,0,0,1,0,0,1,0,0,1,0
Row43389,0.967260,3.112398,-0.223342,2.875056,-0.185019,1,0,0,0,1,1,0,0,0,0,1,0,0,0,1
Row43390,-1.253049,-0.321296,-0.223342,-0.510371,-0.453456,0,1,0,1,0,0,0,0,0,1,0,1,1,0,0
Row43391,1.189291,-0.321296,-0.223342,2.907994,0.358317,1,0,0,0,1,0,0,0,1,0,0,1,0,1,0
Row43392,-1.608298,-0.321296,-0.223342,-0.626350,-1.176440,0,1,0,1,0,0,0,0,0,1,0,1,1,0,0
Row43393,-1.075424,-0.321296,-0.223342,0.637357,-0.707134,1,0,0,1,0,0,0,1,0,0,0,1,1,0,0
Row43394,-0.142894,-0.321296,-0.223342,0.643388,0.409053,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0
Row43395,0.212355,-0.321296,-0.223342,-0.834185,-0.402720,0,1,0,1,0,1,0,0,0,0,0,1,1,0,0
Row43396,-1.430674,-0.321296,-0.223342,-1.063359,-1.011549,1,0,0,1,0,0,0,0,0,1,0,1,0,1,0
Row43397,0.612011,-0.321296,-0.223342,2.531294,3.427831,1,0,0,0,1,1,0,0,0,0,0,1,1,0,0
Row43398,1.766571,3.112398,-0.223342,-0.290939,0.066586,1,0,0,0,1,0,0,1,0,0,0,1,1,0,0
Row43399,-0.098488,-0.321296,-0.223342,-0.123465,0.611996,0,1,0,0,1,0,0,1,0,0,0,1,0,1,0
Row43400,1.766571,-0.321296,-0.223342,-0.579959,-0.986181,1,0,0,0,1,0,0,1,0,0,0,1,0,1,0

In [53]:
# get list of new categorical features
categorical_engineered_features = list(set(training_features.columns) - set(numeric_feature_names))

In [54]:
categorical_engineered_features

['Residence_type_Rural',
 'Residence_type_Urban',
 'gender_Female',
 'work_type_Self-employed',
 'gender_Other',
 'work_type_Govt_job',
 'smoking_status_formerly smoked',
 'smoking_status_never smoked',
 'smoking_status_smokes',
 'gender_Male',
 'work_type_Never_worked',
 'ever_married_No',
 'work_type_children',
 'ever_married_Yes',
 'work_type_Private']

# # Creating .mat datafile for matlab

In [55]:
import scipy
from scipy import io

### 3rd nearest imputation for NA cases

In [ ]:
numpyMatrix_k3th = training_features.as_matrix()
numpyMatrix_target_k3th = outcome_labels.as_matrix()
scipy.io.savemat('K3nearestMissing_train.mat',  mdict={'matrix': numpyMatrix_k3th})
scipy.io.savemat('K3nearestMissing_train_target.mat', {'matrix': numpyMatrix_target_k3th})

### Completely ignoring NA cases

In [ ]:
scipy.io.savemat('NAremove_train.mat',  mdict={'matrix': training_features})

#  # Importing test data set.

In [56]:
#test = training_features.as_matrix
test = training_features.to_dict()

In [57]:
# create predictor and responses for test set
numpyMatrix = training_features.as_matrix()
numpyMatrix_target = outcome_labels.as_matrix()

# # Modling (logistic) + preparing test dataset

In [59]:
from sklearn.linear_model import LogisticRegression
import numpy as np

# fit the model
lr = LogisticRegression() 
model = lr.fit(training_features, np.array(outcome_labels['stroke']))
# view model parameters
model

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [60]:
# simple evaluation on training data
pred_labels = model.predict(training_features)
actual_labels = np.array(outcome_labels['stroke'])

# evaluate model performance --- TRAINING SET!!! ----
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report

print('Accuracy:', float(accuracy_score(actual_labels, pred_labels))*100, '%')
print('Classification Stats:')
print(classification_report(actual_labels, pred_labels))

Accuracy: 98.1958525345622 %
Classification Stats:
             precision    recall  f1-score   support

          0       0.98      1.00      0.99     42617
          1       0.00      0.00      0.00       783

avg / total       0.96      0.98      0.97     43400

/export/home1/NoCsBack/thesisnl/r0649141/anaconda3/lib/python3.6/site-packages/sklearn/metrics/classification.py:1135: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)

In [62]:
from sklearn.externals import joblib
import os
# save models to be deployed on your server
if not os.path.exists('Model'):
    os.mkdir('Model')
if not os.path.exists('Scaler'):
    os.mkdir('Scaler') 
    
joblib.dump(model, r'Model/model.pickle') 
joblib.dump(ss, r'Scaler/scaler.pickle')

In [63]:
# load model and scaler objects
model = joblib.load(r'Model/model.pickle')
scaler = joblib.load(r'Scaler/scaler.pickle')

In [96]:
#prepare TEST SET
# get data
prediction_features = pd.read_csv('test_v2akXPA.csv')
prediction_features

,id,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status
0,36306,Male,80.0,0,0,Yes,Private,Urban,83.84,21.1,formerly smoked
1,61829,Female,74.0,0,1,Yes,Self-employed,Rural,179.50,26.0,formerly smoked
2,14152,Female,14.0,0,0,No,children,Rural,95.16,21.2,NaN
3,12997,Male,28.0,0,0,No,Private,Urban,94.76,23.4,NaN
4,40801,Female,63.0,0,0,Yes,Govt_job,Rural,83.57,27.6,never smoked
5,9348,Female,66.0,1,0,Yes,Private,Urban,219.98,32.2,never smoked
6,51550,Female,49.0,0,0,Yes,Self-employed,Rural,74.03,25.1,NaN
7,60512,Male,46.0,0,0,Yes,Govt_job,Urban,120.80,32.5,never smoked
8,31309,Female,75.0,0,0,Yes,Self-employed,Rural,78.71,28.0,never smoked
9,39199,Male,75.0,0,0,Yes,Self-employed,Urban,77.20,25.7,smokes
10,15160,Female,17.0,0,0,No,Private,Rural,78.16,21.9,NaN
11,21705,Female,10.0,0,0,No,children,Urban,107.23,19.4,NaN
12,19042,Female,47.0,0,0,Yes,Private,Rural,91.60,26.7,never smoked
13,12249,Female,42.0,0,0,Yes,Private,Urban,83.05,32.3,NaN
14,33104,Female,67.0,0,0,Yes,Govt_job,Urban,236.60,24.2,never smoked
15,55264,Female,52.0,0,0,No,Self-employed,Urban,109.49,24.5,never smoked
16,29445,Male,73.0,0,0,Yes,Self-employed,Rural,109.66,40.0,NaN
17,49013,Female,19.0,0,0,No,Private,Rural,88.51,22.1,NaN
18,276,Male,15.0,0,0,No,children,Rural,101.36,22.3,NaN
19,47721,Female,37.0,0,0,Yes,Govt_job,Urban,165.44,36.1,formerly smoked
20,19656,Male,59.0,1,0,Yes,Self-employed,Rural,101.06,33.3,formerly smoked
21,35806,Male,45.0,0,0,Yes,Private,Urban,81.54,36.3,smokes
22,70637,Female,44.0,0,0,Yes,Private,Rural,150.06,22.2,never smoked
23,62010,Female,13.0,0,0,No,children,Urban,87.79,20.5,formerly smoked
24,67576,Female,82.0,0,0,Yes,Private,Rural,205.80,36.5,formerly smoked
25,31774,Male,66.0,1,1,Yes,Private,Rural,93.79,33.1,never smoked
26,43822,Male,42.0,0,0,Yes,Govt_job,Rural,60.60,26.9,NaN
27,27445,Female,47.0,0,0,Yes,Private,Urban,94.80,40.6,never smoked
28,35817,Male,57.0,0,0,Yes,Private,Urban,75.12,27.7,NaN
29,26363,Male,75.0,0,0,Yes,Private,Urban,116.78,22.4,smokes
...,...,...,...,...,...,...,...,...,...,...,...
18571,30015,Male,76.0,0,0,Yes,Self-employed,Rural,84.49,23.7,NaN
18572,24761,Female,29.0,0,0,No,Private,Urban,85.78,22.1,smokes
18573,27094,Female,16.0,0,0,No,Private,Rural,80.14,22.1,NaN
18574,43495,Female,2.0,0,0,No,children,Rural,69.56,18.9,NaN
18575,56348,Female,51.0,0,0,Yes,Private,Urban,97.49,26.2,never smoked
18576,11876,Female,24.0,0,0,No,Private,Urban,72.11,23.5,formerly smoked
18577,585,Male,45.0,0,0,Yes,Private,Rural,75.37,NaN,NaN
18578,43879,Male,23.0,0,0,No,Private,Urban,84.13,29.6,smokes
18579,38239,Female,24.0,0,0,No,Private,Rural,76.93,23.7,never smoked
18580,28943,Male,2.0,0,0,No,children,Urban,93.32,21.8,NaN
18581,17895,Female,22.0,0,0,No,Private,Rural,81.87,27.9,never smoked
18582,35147,Male,69.0,0,1,Yes,Private,Rural,105.31,26.7,NaN
18583,72758,Female,39.0,0,0,No,Private,Rural,76.09,32.7,smokes
18584,28661,Female,9.0,0,0,No,children,Urban,98.39,24.6,NaN
18585,46853,Female,21.0,0,0,No,Private,Rural,114.73,24.8,never smoked
18586,69190,Male,25.0,0,0,No,Private,Rural,178.14,27.8,never smoked
18587,26705,Male,79.0,0,1,No,Private,Urban,110.27,36.2,never smoked
18588,36976,Female,82.0,1,0,Yes,Private,Urban,180.24,40.4,formerly smoked
18589,58578,Male,24.0,0,0,No,Private,Urban,97.05,27.6,smokes
18590,61508,Female,52.0,0,0,Yes,Private,Urban,85.57,21.4,never smoked
18591,70296,Female,13.0,0,0,No,Private,Urban,62.33,27.0,NaN
18592,35299,Male,11.0,0,0,No,children,Rural,83.25,15.9,NaN
18593,15023,Male,80.0,0,0,Yes,Private,Rural,102.85,25.3,formerly smoked
18594,56291,Male,40.0,1,0,Yes,Private,Urban,62.75,29.8,formerly smoked
18595,53431,Male,5.0,0,0,No,children,Rural,126.32,17.0,NaN
18596,67353,Male,20.0,0,0,No,Private,Rural,74.43,18.4,formerly smoked
18597,362,Male,61.0,0,0,Yes,Govt_job,Rural,211.55,31.6,smokes
18598,29839,Female,79.0,0,0,Yes,Private,Rural,125.74,29.4,never smoked
18599,6438,Male,55.0,0,0,Yes,Govt_job,Rural,69.46,33.8,never smoked
18600,16770,Female,38.0,0,0,No,Private,Rural,91.23,24.4,NaN

In [97]:
prediction_features.columns

Index(['id', 'gender', 'age', 'hypertension', 'heart_disease', 'ever_married',
       'work_type', 'Residence_type', 'avg_glucose_level', 'bmi',
       'smoking_status'],
      dtype='object')

In [98]:
# To create predictors, drop 'id'
prediction_features = prediction_features[[ 'gender', 'age', 'hypertension', 'heart_disease', 'ever_married',
       'work_type', 'Residence_type', 'avg_glucose_level', 'bmi',
       'smoking_status']]

In [99]:
# Descriptive Data 
print("Number of rows::",prediction_features.shape[0])
print("Number of columns::",prediction_features.shape[1] )
print("Column Names::",prediction_features.columns.values.tolist())
print("Column Data Types::\n",prediction_features.dtypes)
print("Columns with Missing Values::",prediction_features.columns[prediction_features.isnull().any()].tolist())
print("Number of rows with Missing Values::",len(pd.isnull(prediction_features).any(1).nonzero()[0].tolist()))
print("General Stats::")
print(prediction_features.info())
print("Summary Stats::" )
print(prediction_features.describe())
#IN TOTAL 1/3 OF ROWS INCLUDES MISSING VALLUES..

Number of rows:: 18601
Number of columns:: 10
Column Names:: ['gender', 'age', 'hypertension', 'heart_disease', 'ever_married', 'work_type', 'Residence_type', 'avg_glucose_level', 'bmi', 'smoking_status']
Column Data Types::
 gender                object
age                  float64
hypertension           int64
heart_disease          int64
ever_married          object
work_type             object
Residence_type        object
avg_glucose_level    float64
bmi                  float64
smoking_status        object
dtype: object
Columns with Missing Values:: ['bmi', 'smoking_status']
Number of rows with Missing Values:: 6178
General Stats::
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18601 entries, 0 to 18600
Data columns (total 10 columns):
gender               18601 non-null object
age                  18601 non-null float64
hypertension         18601 non-null int64
heart_disease        18601 non-null int64
ever_married         18601 non-null object
work_type            18601 non-null object
Residence_type       18601 non-null object
avg_glucose_level    18601 non-null float64
bmi                  18010 non-null float64
smoking_status       12850 non-null object
dtypes: float64(3), int64(2), object(5)
memory usage: 1.4+ MB
None
Summary Stats::
                age  hypertension  heart_disease  avg_glucose_level  \
count  18601.000000  18601.000000   18601.000000       18601.000000
mean      42.056504      0.093167       0.048062         104.386359
std       22.528018      0.290674       0.213903          42.606714
min        0.080000      0.000000       0.000000          55.000000
25%       24.000000      0.000000       0.000000          77.550000
50%       43.000000      0.000000       0.000000          91.830000
75%       60.000000      0.000000       0.000000         112.310000
max       82.000000      1.000000       1.000000         275.720000

                bmi
count  18010.000000
mean      28.545325
std        7.757092
min       10.200000
25%       23.300000
50%       27.700000
75%       32.800000
max       88.300000

### Missing data handling for TEST DATA SET (Kth nearest imputation)

In [69]:
print(pd.Series.unique(prediction_features.gender) )
print(pd.Series.unique(prediction_features.ever_married))
print(pd.Series.unique(prediction_features.work_type))
print(pd.Series.unique(prediction_features.Residence_type))

['Male' 'Female' 'Other']
['Yes' 'No']
['Private' 'Self-employed' 'children' 'Govt_job' 'Never_worked']
['Urban' 'Rural']

In [100]:
#change string to numeric for columns with missing value
prediction_features.smoking_status=prediction_features.smoking_status.map({'never smoked':1, 'formerly smoked':0, 'smokes':-1})
prediction_features.gender=prediction_features.gender.map({'Male':1, 'Female':0, 'Other':-1})
prediction_features.ever_married = prediction_features.ever_married.map({'No':1 ,'Yes':0})
prediction_features.work_type = prediction_features.work_type.map({'children':1 , 'Private':2, 'Never_worked':3, 'Self-employed':4, 'Govt_job':5})
prediction_features.Residence_type = prediction_features.Residence_type.map({'Rural':1, 'Urban':0})
prediction_features

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status
0,1,80.0,0,0,0,2,0,83.84,21.1,0.0
1,0,74.0,0,1,0,4,1,179.50,26.0,0.0
2,0,14.0,0,0,1,1,1,95.16,21.2,NaN
3,1,28.0,0,0,1,2,0,94.76,23.4,NaN
4,0,63.0,0,0,0,5,1,83.57,27.6,1.0
5,0,66.0,1,0,0,2,0,219.98,32.2,1.0
6,0,49.0,0,0,0,4,1,74.03,25.1,NaN
7,1,46.0,0,0,0,5,0,120.80,32.5,1.0
8,0,75.0,0,0,0,4,1,78.71,28.0,1.0
9,1,75.0,0,0,0,4,0,77.20,25.7,-1.0
10,0,17.0,0,0,1,2,1,78.16,21.9,NaN
11,0,10.0,0,0,1,1,0,107.23,19.4,NaN
12,0,47.0,0,0,0,2,1,91.60,26.7,1.0
13,0,42.0,0,0,0,2,0,83.05,32.3,NaN
14,0,67.0,0,0,0,5,0,236.60,24.2,1.0
15,0,52.0,0,0,1,4,0,109.49,24.5,1.0
16,1,73.0,0,0,0,4,1,109.66,40.0,NaN
17,0,19.0,0,0,1,2,1,88.51,22.1,NaN
18,1,15.0,0,0,1,1,1,101.36,22.3,NaN
19,0,37.0,0,0,0,5,0,165.44,36.1,0.0
20,1,59.0,1,0,0,4,1,101.06,33.3,0.0
21,1,45.0,0,0,0,2,0,81.54,36.3,-1.0
22,0,44.0,0,0,0,2,1,150.06,22.2,1.0
23,0,13.0,0,0,1,1,0,87.79,20.5,0.0
24,0,82.0,0,0,0,2,1,205.80,36.5,0.0
25,1,66.0,1,1,0,2,1,93.79,33.1,1.0
26,1,42.0,0,0,0,5,1,60.60,26.9,NaN
27,0,47.0,0,0,0,2,0,94.80,40.6,1.0
28,1,57.0,0,0,0,2,0,75.12,27.7,NaN
29,1,75.0,0,0,0,2,0,116.78,22.4,-1.0
...,...,...,...,...,...,...,...,...,...,...
18571,1,76.0,0,0,0,4,1,84.49,23.7,NaN
18572,0,29.0,0,0,1,2,0,85.78,22.1,-1.0
18573,0,16.0,0,0,1,2,1,80.14,22.1,NaN
18574,0,2.0,0,0,1,1,1,69.56,18.9,NaN
18575,0,51.0,0,0,0,2,0,97.49,26.2,1.0
18576,0,24.0,0,0,1,2,0,72.11,23.5,0.0
18577,1,45.0,0,0,0,2,1,75.37,NaN,NaN
18578,1,23.0,0,0,1,2,0,84.13,29.6,-1.0
18579,0,24.0,0,0,1,2,1,76.93,23.7,1.0
18580,1,2.0,0,0,1,1,0,93.32,21.8,NaN
18581,0,22.0,0,0,1,2,1,81.87,27.9,1.0
18582,1,69.0,0,1,0,2,1,105.31,26.7,NaN
18583,0,39.0,0,0,1,2,1,76.09,32.7,-1.0
18584,0,9.0,0,0,1,1,0,98.39,24.6,NaN
18585,0,21.0,0,0,1,2,1,114.73,24.8,1.0
18586,1,25.0,0,0,1,2,1,178.14,27.8,1.0
18587,1,79.0,0,1,1,2,0,110.27,36.2,1.0
18588,0,82.0,1,0,0,2,0,180.24,40.4,0.0
18589,1,24.0,0,0,1,2,0,97.05,27.6,-1.0
18590,0,52.0,0,0,0,2,0,85.57,21.4,1.0
18591,0,13.0,0,0,1,2,0,62.33,27.0,NaN
18592,1,11.0,0,0,1,1,1,83.25,15.9,NaN
18593,1,80.0,0,0,0,2,1,102.85,25.3,0.0
18594,1,40.0,1,0,0,2,0,62.75,29.8,0.0
18595,1,5.0,0,0,1,1,1,126.32,17.0,NaN
18596,1,20.0,0,0,1,2,1,74.43,18.4,0.0
18597,1,61.0,0,0,0,5,1,211.55,31.6,-1.0
18598,0,79.0,0,0,0,2,1,125.74,29.4,1.0
18599,1,55.0,0,0,0,5,1,69.46,33.8,1.0
18600,0,38.0,0,0,1,2,1,91.23,24.4,NaN

In [101]:
df_kth_test = fancyimpute.KNN(k=3,orientation='columns').complete(prediction_features)

Imputing row 1/10 with 0 missing, elapsed time: 0.014

In [102]:
values = df_kth_test
index = ['Row'+str(i) for i in range(1, len(values)+1)]

dftest_test = pd.DataFrame(values, index=index)

In [103]:
dftest_test

            0     1    2    3    4    5    6       7          8         9
Row1      1.0  80.0  0.0  0.0  0.0  2.0  0.0   83.84  21.100000  0.000000
Row2      0.0  74.0  0.0  1.0  0.0  4.0  1.0  179.50  26.000000  0.000000
Row3      0.0  14.0  0.0  0.0  1.0  1.0  1.0   95.16  21.200000  0.335782
Row4      1.0  28.0  0.0  0.0  1.0  2.0  0.0   94.76  23.400000  0.335782
Row5      0.0  63.0  0.0  0.0  0.0  5.0  1.0   83.57  27.600000  1.000000
Row6      0.0  66.0  1.0  0.0  0.0  2.0  0.0  219.98  32.200000  1.000000
Row7      0.0  49.0  0.0  0.0  0.0  4.0  1.0   74.03  25.100000  0.000000
Row8      1.0  46.0  0.0  0.0  0.0  5.0  0.0  120.80  32.500000  1.000000
Row9      0.0  75.0  0.0  0.0  0.0  4.0  1.0   78.71  28.000000  1.000000
Row10     1.0  75.0  0.0  0.0  0.0  4.0  0.0   77.20  25.700000 -1.000000
Row11     0.0  17.0  0.0  0.0  1.0  2.0  1.0   78.16  21.900000  0.335782
Row12     0.0  10.0  0.0  0.0  1.0  1.0  0.0  107.23  19.400000  0.335782
Row13     0.0  47.0  0.0  0.0  0.0  2.0  1.0   91.60  26.700000  1.000000
Row14     0.0  42.0  0.0  0.0  0.0  2.0  0.0   83.05  32.300000  0.000000
Row15     0.0  67.0  0.0  0.0  0.0  5.0  0.0  236.60  24.200000  1.000000
Row16     0.0  52.0  0.0  0.0  1.0  4.0  0.0  109.49  24.500000  1.000000
Row17     1.0  73.0  0.0  0.0  0.0  4.0  1.0  109.66  40.000000  0.000000
Row18     0.0  19.0  0.0  0.0  1.0  2.0  1.0   88.51  22.100000  0.335782
Row19     1.0  15.0  0.0  0.0  1.0  1.0  1.0  101.36  22.300000  0.335782
Row20     0.0  37.0  0.0  0.0  0.0  5.0  0.0  165.44  36.100000  0.000000
Row21     1.0  59.0  1.0  0.0  0.0  4.0  1.0  101.06  33.300000  0.000000
Row22     1.0  45.0  0.0  0.0  0.0  2.0  0.0   81.54  36.300000 -1.000000
Row23     0.0  44.0  0.0  0.0  0.0  2.0  1.0  150.06  22.200000  1.000000
Row24     0.0  13.0  0.0  0.0  1.0  1.0  0.0   87.79  20.500000  0.000000
Row25     0.0  82.0  0.0  0.0  0.0  2.0  1.0  205.80  36.500000  0.000000
Row26     1.0  66.0  1.0  1.0  0.0  2.0  1.0   93.79  33.100000  1.000000
Row27     1.0  42.0  0.0  0.0  0.0  5.0  1.0   60.60  26.900000  0.000000
Row28     0.0  47.0  0.0  0.0  0.0  2.0  0.0   94.80  40.600000  1.000000
Row29     1.0  57.0  0.0  0.0  0.0  2.0  0.0   75.12  27.700000  0.000000
Row30     1.0  75.0  0.0  0.0  0.0  2.0  0.0  116.78  22.400000 -1.000000
...       ...   ...  ...  ...  ...  ...  ...     ...        ...       ...
Row18572  1.0  76.0  0.0  0.0  0.0  4.0  1.0   84.49  23.700000  0.000000
Row18573  0.0  29.0  0.0  0.0  1.0  2.0  0.0   85.78  22.100000 -1.000000
Row18574  0.0  16.0  0.0  0.0  1.0  2.0  1.0   80.14  22.100000  0.335782
Row18575  0.0   2.0  0.0  0.0  1.0  1.0  1.0   69.56  18.900000  0.335782
Row18576  0.0  51.0  0.0  0.0  0.0  2.0  0.0   97.49  26.200000  1.000000
Row18577  0.0  24.0  0.0  0.0  1.0  2.0  0.0   72.11  23.500000  0.000000
Row18578  1.0  45.0  0.0  0.0  0.0  2.0  1.0   75.37  18.538801  0.000000
Row18579  1.0  23.0  0.0  0.0  1.0  2.0  0.0   84.13  29.600000 -1.000000
Row18580  0.0  24.0  0.0  0.0  1.0  2.0  1.0   76.93  23.700000  1.000000
Row18581  1.0   2.0  0.0  0.0  1.0  1.0  0.0   93.32  21.800000  0.335782
Row18582  0.0  22.0  0.0  0.0  1.0  2.0  1.0   81.87  27.900000  1.000000
Row18583  1.0  69.0  0.0  1.0  0.0  2.0  1.0  105.31  26.700000  0.331716
Row18584  0.0  39.0  0.0  0.0  1.0  2.0  1.0   76.09  32.700000 -1.000000
Row18585  0.0   9.0  0.0  0.0  1.0  1.0  0.0   98.39  24.600000  0.335782
Row18586  0.0  21.0  0.0  0.0  1.0  2.0  1.0  114.73  24.800000  1.000000
Row18587  1.0  25.0  0.0  0.0  1.0  2.0  1.0  178.14  27.800000  1.000000
Row18588  1.0  79.0  0.0  1.0  1.0  2.0  0.0  110.27  36.200000  1.000000
Row18589  0.0  82.0  1.0  0.0  0.0  2.0  0.0  180.24  40.400000  0.000000
Row18590  1.0  24.0  0.0  0.0  1.0  2.0  0.0   97.05  27.600000 -1.000000
Row18591  0.0  52.0  0.0  0.0  0.0  2.0  0.0   85.57  21.400000  1.000000
Row18592  0.0  13.0  0.0  0.0  1.0  2.0  0.0   62.33  27.000000  0.335782
Row18593  1.0  11.0  0.0  0.0  1.0  1.0  1.0   83.25  15.900000  0.335782
Row18594  1.0  80.0  0.0  0.0  0.0  2.0  1.0  102.85  25.300000  0.000000
Row18595  1.0  40.0  1.0  0.0  0.0  2.0  0.0   62.75  29.800000  0.000000
Row18596  1.0   5.0  0.0  0.0  1.0  1.0  1.0  126.32  17.000000  0.335782
Row18597  1.0  20.0  0.0  0.0  1.0  2.0  1.0   74.43  18.400000  0.000000
Row18598  1.0  61.0  0.0  0.0  0.0  5.0  1.0  211.55  31.600000 -1.000000
Row18599  0.0  79.0  0.0  0.0  0.0  2.0  1.0  125.74  29.400000  1.000000
Row18600  1.0  55.0  0.0  0.0  0.0  5.0  1.0   69.46  33.800000  1.000000
Row18601  0.0  38.0  0.0  0.0  1.0  2.0  1.0   91.23  24.400000  0.335782

[18601 rows x 10 columns]

In [104]:
dftest_test.columns = ['gender', 'age', 'hypertension', 'heart_disease', 'ever_married',
       'work_type', 'Residence_type', 'avg_glucose_level', 'bmi',
       'smoking_status']
print(pd.Series.unique(dftest_test.smoking_status) )
dftest_test.smoking_status = dftest_test.smoking_status.astype(int)
#Get numericalized values be original categorical values
#change string to numeric for columns with missing value
dftest_test.smoking_status=dftest_test.smoking_status.map({1:'never smoked', 0:'formerly smoked', -1:'smokes'})
dftest_test.gender=dftest_test.gender.map({1:'Male', 0:'Female', -1:'Other'})
dftest_test.ever_married = dftest_test.ever_married.map({1:'No' ,0:'Yes'})
dftest_test.work_type = dftest_test.work_type.map({1:'children',2: 'Private', 3:'Never_worked', 4:'Self-employed', 5:'Govt_job'})
dftest_test.Residence_type = dftest_test.Residence_type.map({1.0:'Rural', 0.0:'Urban'})

#print(pd.Series.unique(dftest.stroke) )

[ 0.          0.33578233  1.         -1.          0.33171603  0.66421773
  0.33250169  0.66828403  1.00000006  0.66749837]

In [105]:
print(pd.Series.unique(dftest_test.smoking_status) )

['formerly smoked' 'never smoked' 'smokes']

In [106]:
dftest_test

,gender,age,hypertension,heart_disease,ever_married,work_type,Residence_type,avg_glucose_level,bmi,smoking_status
Row1,Male,80.0,0.0,0.0,Yes,Private,Urban,83.84,21.100000,formerly smoked
Row2,Female,74.0,0.0,1.0,Yes,Self-employed,Rural,179.50,26.000000,formerly smoked
Row3,Female,14.0,0.0,0.0,No,children,Rural,95.16,21.200000,formerly smoked
Row4,Male,28.0,0.0,0.0,No,Private,Urban,94.76,23.400000,formerly smoked
Row5,Female,63.0,0.0,0.0,Yes,Govt_job,Rural,83.57,27.600000,never smoked
Row6,Female,66.0,1.0,0.0,Yes,Private,Urban,219.98,32.200000,never smoked
Row7,Female,49.0,0.0,0.0,Yes,Self-employed,Rural,74.03,25.100000,formerly smoked
Row8,Male,46.0,0.0,0.0,Yes,Govt_job,Urban,120.80,32.500000,never smoked
Row9,Female,75.0,0.0,0.0,Yes,Self-employed,Rural,78.71,28.000000,never smoked
Row10,Male,75.0,0.0,0.0,Yes,Self-employed,Urban,77.20,25.700000,smokes
Row11,Female,17.0,0.0,0.0,No,Private,Rural,78.16,21.900000,formerly smoked
Row12,Female,10.0,0.0,0.0,No,children,Urban,107.23,19.400000,formerly smoked
Row13,Female,47.0,0.0,0.0,Yes,Private,Rural,91.60,26.700000,never smoked
Row14,Female,42.0,0.0,0.0,Yes,Private,Urban,83.05,32.300000,formerly smoked
Row15,Female,67.0,0.0,0.0,Yes,Govt_job,Urban,236.60,24.200000,never smoked
Row16,Female,52.0,0.0,0.0,No,Self-employed,Urban,109.49,24.500000,never smoked
Row17,Male,73.0,0.0,0.0,Yes,Self-employed,Rural,109.66,40.000000,formerly smoked
Row18,Female,19.0,0.0,0.0,No,Private,Rural,88.51,22.100000,formerly smoked
Row19,Male,15.0,0.0,0.0,No,children,Rural,101.36,22.300000,formerly smoked
Row20,Female,37.0,0.0,0.0,Yes,Govt_job,Urban,165.44,36.100000,formerly smoked
Row21,Male,59.0,1.0,0.0,Yes,Self-employed,Rural,101.06,33.300000,formerly smoked
Row22,Male,45.0,0.0,0.0,Yes,Private,Urban,81.54,36.300000,smokes
Row23,Female,44.0,0.0,0.0,Yes,Private,Rural,150.06,22.200000,never smoked
Row24,Female,13.0,0.0,0.0,No,children,Urban,87.79,20.500000,formerly smoked
Row25,Female,82.0,0.0,0.0,Yes,Private,Rural,205.80,36.500000,formerly smoked
Row26,Male,66.0,1.0,1.0,Yes,Private,Rural,93.79,33.100000,never smoked
Row27,Male,42.0,0.0,0.0,Yes,Govt_job,Rural,60.60,26.900000,formerly smoked
Row28,Female,47.0,0.0,0.0,Yes,Private,Urban,94.80,40.600000,never smoked
Row29,Male,57.0,0.0,0.0,Yes,Private,Urban,75.12,27.700000,formerly smoked
Row30,Male,75.0,0.0,0.0,Yes,Private,Urban,116.78,22.400000,smokes
...,...,...,...,...,...,...,...,...,...,...
Row18572,Male,76.0,0.0,0.0,Yes,Self-employed,Rural,84.49,23.700000,formerly smoked
Row18573,Female,29.0,0.0,0.0,No,Private,Urban,85.78,22.100000,smokes
Row18574,Female,16.0,0.0,0.0,No,Private,Rural,80.14,22.100000,formerly smoked
Row18575,Female,2.0,0.0,0.0,No,children,Rural,69.56,18.900000,formerly smoked
Row18576,Female,51.0,0.0,0.0,Yes,Private,Urban,97.49,26.200000,never smoked
Row18577,Female,24.0,0.0,0.0,No,Private,Urban,72.11,23.500000,formerly smoked
Row18578,Male,45.0,0.0,0.0,Yes,Private,Rural,75.37,18.538801,formerly smoked
Row18579,Male,23.0,0.0,0.0,No,Private,Urban,84.13,29.600000,smokes
Row18580,Female,24.0,0.0,0.0,No,Private,Rural,76.93,23.700000,never smoked
Row18581,Male,2.0,0.0,0.0,No,children,Urban,93.32,21.800000,formerly smoked
Row18582,Female,22.0,0.0,0.0,No,Private,Rural,81.87,27.900000,never smoked
Row18583,Male,69.0,0.0,1.0,Yes,Private,Rural,105.31,26.700000,formerly smoked
Row18584,Female,39.0,0.0,0.0,No,Private,Rural,76.09,32.700000,smokes
Row18585,Female,9.0,0.0,0.0,No,children,Urban,98.39,24.600000,formerly smoked
Row18586,Female,21.0,0.0,0.0,No,Private,Rural,114.73,24.800000,never smoked
Row18587,Male,25.0,0.0,0.0,No,Private,Rural,178.14,27.800000,never smoked
Row18588,Male,79.0,0.0,1.0,No,Private,Urban,110.27,36.200000,never smoked
Row18589,Female,82.0,1.0,0.0,Yes,Private,Urban,180.24,40.400000,formerly smoked
Row18590,Male,24.0,0.0,0.0,No,Private,Urban,97.05,27.600000,smokes
Row18591,Female,52.0,0.0,0.0,Yes,Private,Urban,85.57,21.400000,never smoked
Row18592,Female,13.0,0.0,0.0,No,Private,Urban,62.33,27.000000,formerly smoked
Row18593,Male,11.0,0.0,0.0,No,children,Rural,83.25,15.900000,formerly smoked
Row18594,Male,80.0,0.0,0.0,Yes,Private,Rural,102.85,25.300000,formerly smoked
Row18595,Male,40.0,1.0,0.0,Yes,Private,Urban,62.75,29.800000,formerly smoked
Row18596,Male,5.0,0.0,0.0,No,children,Rural,126.32,17.000000,formerly smoked
Row18597,Male,20.0,0.0,0.0,No,Private,Rural,74.43,18.400000,formerly smoked
Row18598,Male,61.0,0.0,0.0,Yes,Govt_job,Rural,211.55,31.600000,smokes
Row18599,Female,79.0,0.0,0.0,Yes,Private,Rural,125.74,29.400000,never smoked
Row18600,Male,55.0,0.0,0.0,Yes,Govt_job,Rural,69.46,33.800000,never smoked
Row18601,Female,38.0,0.0,0.0,No,Private,Rural,91.23,24.400000,formerly smoked

In [107]:
prediction_features = dftest_test

In [108]:
from sklearn.preprocessing import StandardScaler
# scaling
prediction_features[numeric_feature_names] = scaler.transform(prediction_features[numeric_feature_names])

# engineering categorical variables --> dummy coding
prediction_features = pd.get_dummies(prediction_features, columns=categoricial_feature_names)

# view feature set
prediction_features

,age,hypertension,heart_disease,avg_glucose_level,bmi,gender_Female,gender_Male,gender_Other,ever_married_No,ever_married_Yes,work_type_Govt_job,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,Residence_type_Rural,Residence_type_Urban,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
Row1,1.677759,-0.321296,-0.223342,-0.478825,-0.922761,0,1,0,0,1,0,0,1,0,0,0,1,1,0,0
Row2,1.411322,-0.321296,4.477446,1.740085,-0.301248,1,0,0,0,1,0,0,0,1,0,1,0,1,0,0
Row3,-1.253049,-0.321296,-0.223342,-0.216249,-0.910077,1,0,0,1,0,0,0,0,0,1,1,0,1,0,0
Row4,-0.631362,-0.321296,-0.223342,-0.225527,-0.631031,0,1,0,1,0,0,0,1,0,0,0,1,1,0,0
Row5,0.922854,-0.321296,-0.223342,-0.485088,-0.098305,1,0,0,0,1,1,0,0,0,0,1,0,0,1,0
Row6,1.056072,3.112398,-0.223342,2.679051,0.485156,1,0,0,0,1,0,0,1,0,0,0,1,0,1,0
Row7,0.301167,-0.321296,-0.223342,-0.706376,-0.415404,1,0,0,0,1,0,0,0,1,0,1,0,1,0,0
Row8,0.167949,-0.321296,-0.223342,0.378492,0.523208,0,1,0,0,1,1,0,0,0,0,0,1,0,1,0
Row9,1.455728,-0.321296,-0.223342,-0.597820,-0.047569,1,0,0,0,1,0,0,0,1,0,1,0,0,1,0
Row10,1.455728,-0.321296,-0.223342,-0.632845,-0.339300,0,1,0,0,1,0,0,0,1,0,0,1,0,0,1
Row11,-1.119830,-0.321296,-0.223342,-0.610577,-0.821290,1,0,0,1,0,0,0,1,0,0,1,0,1,0,0
Row12,-1.430674,-0.321296,-0.223342,0.063725,-1.138388,1,0,0,1,0,0,0,0,0,1,0,1,1,0,0
Row13,0.212355,-0.321296,-0.223342,-0.298826,-0.212461,1,0,0,0,1,0,0,1,0,0,1,0,0,1,0
Row14,-0.009676,-0.321296,-0.223342,-0.497150,0.497840,1,0,0,0,1,0,0,1,0,0,0,1,1,0,0
Row15,1.100479,-0.321296,-0.223342,3.064565,-0.529559,1,0,0,0,1,1,0,0,0,0,0,1,0,1,0
Row16,0.434386,-0.321296,-0.223342,0.116147,-0.491507,1,0,0,1,0,0,0,0,1,0,0,1,0,1,0
Row17,1.366916,-0.321296,-0.223342,0.120090,1.474504,0,1,0,0,1,0,0,0,1,0,1,0,1,0,0
Row18,-1.031018,-0.321296,-0.223342,-0.370501,-0.795922,1,0,0,1,0,0,0,1,0,0,1,0,1,0,0
Row19,-1.208643,-0.321296,-0.223342,-0.072435,-0.770554,0,1,0,1,0,0,0,0,0,1,1,0,1,0,0
Row20,-0.231707,-0.321296,-0.223342,1.413952,0.979830,1,0,0,0,1,1,0,0,0,0,0,1,1,0,0
Row21,0.745229,3.112398,-0.223342,-0.079393,0.624680,0,1,0,0,1,0,0,0,1,0,1,0,1,0,0
Row22,0.123543,-0.321296,-0.223342,-0.532175,1.005198,0,1,0,0,1,0,0,1,0,0,0,1,0,0,1
Row23,0.079137,-0.321296,-0.223342,1.057201,-0.783238,1,0,0,0,1,0,0,1,0,0,1,0,0,1,0
Row24,-1.297455,-0.321296,-0.223342,-0.387202,-0.998865,1,0,0,1,0,0,0,0,0,1,0,1,1,0,0
Row25,1.766571,-0.321296,-0.223342,2.350135,1.030566,1,0,0,0,1,0,0,1,0,0,1,0,1,0,0
Row26,1.056072,3.112398,4.477446,-0.248027,0.599312,0,1,0,0,1,0,0,1,0,0,1,0,0,1,0
Row27,-0.009676,-0.321296,-0.223342,-1.017895,-0.187093,0,1,0,0,1,1,0,0,0,0,1,0,1,0,0
Row28,0.212355,-0.321296,-0.223342,-0.224599,1.550607,1,0,0,0,1,0,0,1,0,0,0,1,0,1,0
Row29,0.656417,-0.321296,-0.223342,-0.681092,-0.085621,0,1,0,0,1,0,0,1,0,0,0,1,1,0,0
Row30,1.455728,-0.321296,-0.223342,0.285245,-0.757870,0,1,0,0,1,0,0,1,0,0,0,1,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Row18572,1.500134,-0.321296,-0.223342,-0.463748,-0.592979,0,1,0,0,1,0,0,0,1,0,1,0,1,0,0
Row18573,-0.586956,-0.321296,-0.223342,-0.433825,-0.795922,1,0,0,1,0,0,0,1,0,0,0,1,0,0,1
Row18574,-1.164236,-0.321296,-0.223342,-0.564650,-0.795922,1,0,0,1,0,0,0,1,0,0,1,0,1,0,0
Row18575,-1.785923,-0.321296,-0.223342,-0.810061,-1.201808,1,0,0,1,0,0,0,0,0,1,1,0,1,0,0
Row18576,0.389980,-0.321296,-0.223342,-0.162202,-0.275880,1,0,0,0,1,0,0,1,0,0,0,1,0,1,0
Row18577,-0.808987,-0.321296,-0.223342,-0.750912,-0.618347,1,0,0,1,0,0,0,1,0,0,0,1,1,0,0
Row18578,0.123543,-0.321296,-0.223342,-0.675294,-1.247622,0,1,0,0,1,0,0,1,0,0,1,0,1,0,0
Row18579,-0.853393,-0.321296,-0.223342,-0.472098,0.155374,0,1,0,1,0,0,0,1,0,0,0,1,0,0,1
Row18580,-0.808987,-0.321296,-0.223342,-0.639108,-0.592979,1,0,0,1,0,0,0,1,0,0,1,0,0,1,0
Row18581,-1.785923,-0.321296,-0.223342,-0.258929,-0.833974,0,1,0,1,0,0,0,0,0,1,0,1,1,0,0
Row18582,-0.897799,-0.321296,-0.223342,-0.524521,-0.060253,1,0,0,1,0,0,0,1,0,0,1,0,0,1,0
Row18583,1.189291,-0.321296,4.477446,0.019189,-0.212461,0,1,0,0,1,0,0,1,0,0,1,0,1,0,0
Row18584,-0.142894,-0.321296,-0.223342,-0.658593,0.548576,1,0,0,1,0,0,0,1,0,0,1,0,0,0,1
Row18585,-1.475080,-0.321296,-0.223342,-0.141326,-0.478823,1,0,0,1,0,0,0,0,0,1,0,1,1,0,0
Row18586,-0.942206,-0.321296,-0.223342,0.237693,-0.453456,1,0,0,1,0,0,0,1,0,0,1,0,0,1,0
Row18587,-0.764581,-0.321296,-0.223342,1.708539,-0.072937,0,1,0,1,0,0,0,1,0,0,1,0,0,1,0
Row18588,1.633353,-0.321296,4.477446,0.134240,0.992514,0,1,0,1,0,0,0,1,0,0,0,1,0,1,0
Row18589,1.766571,3.112398,-0.223342,1.757250,1.525239,1,0,0,0,1,0,0,1,0,0,0,1,1,0,0
Row18590,-0.808987,-0.321296,-0.223342,-0.172409,-0.098305,0,1,0,1,0,0,0,1,0,0,0,1,0,0,1
Row18591,0.434386,-0.321296,-0.223342,-0.438696,-0.884710,1,0,0,0,1,0,0,1,0,0,0,1,0,1,0
Row18592,-1.297455,-0.321296,-0.223342,-0.977767,-0.174409,1,0,0,1,0,0,0,1,0,0,0,1,1,0,0
Row18593,-1.386267,-0.321296,-0.223342,-0.492511,-1.582326,0,1,0,1,0,0,0,0,0,1,1,0,1,0,0
Row18594,1.677759,-0.321296,-0.223342,-0.037873,-0.390036,0,1,0,0,1,0,0,1,0,0,1,0,1,0,0
Row18595,-0.098488,3.112398,-0.223342,-0.968024,0.180742,0,1,0,0,1,0,0,1,0,0,0,1,1,0,0
Row18596,-1.652704,-0.321296,-0.223342,0.506532,-1.442803,0,1,0,1,0,0,0,0,0,1,1,0,1,0,0
Row18597,-0.986612,-0.321296,-0.223342,-0.697098,-1.265228,0,1,0,1,0,0,0,1,0,0,1,0,1,0,0
Row18598,0.834042,-0.321296,-0.223342,2.483510,0.409053,0,1,0,0,1,1,0,0,0,0,1,0,0,0,1
Row18599,1.633353,-0.321296,-0.223342,0.493079,0.130006,1,0,0,0,1,0,0,1,0,0,1,0,0,1,0
Row18600,0.567604,-0.321296,-0.223342,-0.812381,0.688099,0,1,0,0,1,1,0,0,0,0,1,0,0,1,0
Row18601,-0.187301,-0.321296,-0.223342,-0.307408,-0.504191,1,0,0,1,0,0,0,1,0,0,1,0,1,0,0

In [109]:
prediction_features.columns
len(prediction_features) 
# add missing categorical feature columns
current_categorical_engineered_features = set(prediction_features.columns) - set(numeric_feature_names)
missing_features = set(categorical_engineered_features) - current_categorical_engineered_features

In [110]:
missing_features
# Actually we luckily don't have any missing column..

set()

In [111]:
# Check if the predictors are corresponding to the training set
prediction_features.columns

Index(['age', 'hypertension', 'heart_disease', 'avg_glucose_level', 'bmi',
       'gender_Female', 'gender_Male', 'gender_Other', 'ever_married_No',
       'ever_married_Yes', 'work_type_Govt_job', 'work_type_Never_worked',
       'work_type_Private', 'work_type_Self-employed', 'work_type_children',
       'Residence_type_Rural', 'Residence_type_Urban',
       'smoking_status_formerly smoked', 'smoking_status_never smoked',
       'smoking_status_smokes'],
      dtype='object')

In [114]:
#compare with predictors for training set
training_features.columns

Index(['age', 'hypertension', 'heart_disease', 'avg_glucose_level', 'bmi',
       'gender_Female', 'gender_Male', 'gender_Other', 'ever_married_No',
       'ever_married_Yes', 'work_type_Govt_job', 'work_type_Never_worked',
       'work_type_Private', 'work_type_Self-employed', 'work_type_children',
       'Residence_type_Rural', 'Residence_type_Urban',
       'smoking_status_formerly smoked', 'smoking_status_never smoked',
       'smoking_status_smokes'],
      dtype='object')

#### Just in case where there are some missing predictors... (especially dummy variables)

In [ ]:
    # add missing categorical feature columns
    current_categorical_engineered_features = set(prediction_features.columns) - set(numeric_feature_names)
    missing_features = set(categorical_engineered_features) - current_categorical_engineered_features
    for feature in missing_features:
        # add zeros since feature is absent in these data samples
        prediction_features[feature] = [0] * len(prediction_features) # 'len(prediction_features) ' takes #new samples. 

    # view final feature set
    prediction_features

#### Just in case you want to export the test data as .mat file...

In [ ]:
numpyMatrix_prediction = prediction_features.as_matrix()
scipy.io.savemat('K3nearestimpute_test.mat', {'matrix': numpyMatrix_prediction})

### Missing data handling for TEST DATA SET (Completely ignore: remove all rows  & columns including NA)

In [85]:
#Just in case, re-read the original test data
prediction_features = pd.read_csv('test_v2akXPA.csv')
prediction_features

# TRY TO IGNORE MISSING DATAS(REMOVE ROWS WITH MISSING VALUES)
print("Drop Rows with missing smoking_status::" )
prediction_features_dropped = prediction_features.dropna(subset=['smoking_status'])
prediction_features_dropped = prediction_features_dropped.dropna(subset=['bmi'])
print("Shape::",prediction_features_dropped.shape)
print("Columns with Missing Values::",prediction_features_dropped.columns[prediction_features.isnull().any()].tolist())
print("Number of rows with Missing Values::",len(pd.isnull(prediction_features_dropped).any(1).nonzero()[0].tolist()))

Drop Rows with missing smoking_status::
Shape:: (12423, 11)
Columns with Missing Values:: ['bmi', 'smoking_status']
Number of rows with Missing Values:: 0

In [87]:
from sklearn.preprocessing import StandardScaler
# scaling
prediction_features_dropped[numeric_feature_names] = scaler.transform(prediction_features_dropped[numeric_feature_names])

# engineering categorical variables --> dummy coding
prediction_features_dropped = pd.get_dummies(prediction_features_dropped, columns=categoricial_feature_names)

# view feature set
prediction_features_dropped

,id,age,hypertension,heart_disease,avg_glucose_level,bmi,gender_Female,gender_Male,ever_married_No,ever_married_Yes,work_type_Govt_job,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,Residence_type_Rural,Residence_type_Urban,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes
0,36306,1.677759,-0.321296,-0.223342,-0.478825,-0.922761,0,1,0,1,0,0,1,0,0,0,1,1,0,0
1,61829,1.411322,-0.321296,4.477446,1.740085,-0.301248,1,0,0,1,0,0,0,1,0,1,0,1,0,0
4,40801,0.922854,-0.321296,-0.223342,-0.485088,-0.098305,1,0,0,1,1,0,0,0,0,1,0,0,1,0
5,9348,1.056072,3.112398,-0.223342,2.679051,0.485156,1,0,0,1,0,0,1,0,0,0,1,0,1,0
7,60512,0.167949,-0.321296,-0.223342,0.378492,0.523208,0,1,0,1,1,0,0,0,0,0,1,0,1,0
8,31309,1.455728,-0.321296,-0.223342,-0.597820,-0.047569,1,0,0,1,0,0,0,1,0,1,0,0,1,0
9,39199,1.455728,-0.321296,-0.223342,-0.632845,-0.339300,0,1,0,1,0,0,0,1,0,0,1,0,0,1
12,19042,0.212355,-0.321296,-0.223342,-0.298826,-0.212461,1,0,0,1,0,0,1,0,0,1,0,0,1,0
14,33104,1.100479,-0.321296,-0.223342,3.064565,-0.529559,1,0,0,1,1,0,0,0,0,0,1,0,1,0
15,55264,0.434386,-0.321296,-0.223342,0.116147,-0.491507,1,0,1,0,0,0,0,1,0,0,1,0,1,0
19,47721,-0.231707,-0.321296,-0.223342,1.413952,0.979830,1,0,0,1,1,0,0,0,0,0,1,1,0,0
20,19656,0.745229,3.112398,-0.223342,-0.079393,0.624680,0,1,0,1,0,0,0,1,0,1,0,1,0,0
21,35806,0.123543,-0.321296,-0.223342,-0.532175,1.005198,0,1,0,1,0,0,1,0,0,0,1,0,0,1
22,70637,0.079137,-0.321296,-0.223342,1.057201,-0.783238,1,0,0,1,0,0,1,0,0,1,0,0,1,0
23,62010,-1.297455,-0.321296,-0.223342,-0.387202,-0.998865,1,0,1,0,0,0,0,0,1,0,1,1,0,0
24,67576,1.766571,-0.321296,-0.223342,2.350135,1.030566,1,0,0,1,0,0,1,0,0,1,0,1,0,0
25,31774,1.056072,3.112398,4.477446,-0.248027,0.599312,0,1,0,1,0,0,1,0,0,1,0,0,1,0
27,27445,0.212355,-0.321296,-0.223342,-0.224599,1.550607,1,0,0,1,0,0,1,0,0,0,1,0,1,0
29,26363,1.455728,-0.321296,-0.223342,0.285245,-0.757870,0,1,0,1,0,0,1,0,0,0,1,0,0,1
30,44463,0.079137,3.112398,-0.223342,1.059056,0.852990,0,1,0,1,0,0,1,0,0,1,0,0,1,0
31,17002,0.967260,-0.321296,4.477446,2.509722,-0.364668,0,1,0,1,0,0,1,0,0,1,0,0,1,0
32,55223,-1.208643,-0.321296,-0.223342,0.564522,0.003166,1,0,1,0,0,0,0,0,1,1,0,1,0,0
33,42974,-1.297455,-0.321296,-0.223342,1.008258,-1.227176,1,0,1,0,0,0,0,0,1,1,0,1,0,0
35,16974,0.922854,-0.321296,-0.223342,-0.474650,-0.212461,0,1,0,1,0,0,0,1,0,1,0,0,0,1
36,27813,-0.586956,-0.321296,-0.223342,0.274806,0.650047,1,0,0,1,0,0,1,0,0,1,0,0,1,0
38,67455,1.233697,-0.321296,4.477446,0.651274,0.675415,1,0,0,1,0,0,0,1,0,1,0,0,0,1
40,55641,-0.276113,-0.321296,-0.223342,0.283157,-0.072937,1,0,0,1,0,0,1,0,0,0,1,0,1,0
42,9699,-0.675769,-0.321296,-0.223342,-0.896118,-0.859342,1,0,0,1,0,0,1,0,0,1,0,0,1,0
43,61811,0.389980,-0.321296,-0.223342,2.042326,0.675415,0,1,0,1,0,0,1,0,0,0,1,1,0,0
45,18723,0.567604,3.112398,-0.223342,-0.252202,1.170089,0,1,0,1,0,0,1,0,0,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18557,36503,-1.253049,-0.321296,-0.223342,-0.469083,-0.351984,1,0,1,0,0,0,1,0,0,1,0,0,1,0
18558,8799,1.100479,-0.321296,4.477446,-0.340114,1.677447,0,1,0,1,0,0,1,0,0,0,1,1,0,0
18560,15153,0.301167,-0.321296,4.477446,2.695752,0.421736,0,1,0,1,0,0,0,1,0,1,0,0,0,1
18561,51264,1.411322,-0.321296,4.477446,-0.169625,-0.301248,1,0,0,1,0,0,1,0,0,1,0,1,0,0
18562,34294,0.745229,-0.321296,-0.223342,0.307049,-0.707134,1,0,0,1,0,0,1,0,0,1,0,1,0,0
18563,40218,0.656417,-0.321296,-0.223342,-0.116739,-0.580295,1,0,0,1,0,0,1,0,0,0,1,0,1,0
18564,2723,-0.453738,-0.321296,-0.223342,-0.764365,-0.072937,0,1,0,1,0,0,1,0,0,1,0,0,1,0
18566,33396,0.478792,-0.321296,-0.223342,0.021740,-0.237829,1,0,0,1,1,0,0,0,0,0,1,0,1,0
18567,26161,1.011666,-0.321296,-0.223342,-0.158027,0.713467,0,1,0,1,0,0,1,0,0,1,0,0,0,1
18568,58191,0.478792,-0.321296,-0.223342,-0.528464,-0.681766,1,0,0,1,0,0,1,0,0,1,0,0,1,0
18569,34625,0.834042,-0.321296,-0.223342,-0.601299,0.459788,1,0,1,0,1,0,0,0,0,1,0,0,1,0
18572,24761,-0.586956,-0.321296,-0.223342,-0.433825,-0.795922,1,0,1,0,0,0,1,0,0,0,1,0,0,1
18575,56348,0.389980,-0.321296,-0.223342,-0.162202,-0.275880,1,0,0,1,0,0,1,0,0,0,1,0,1,0
18576,11876,-0.808987,-0.321296,-0.223342,-0.750912,-0.618347,1,0,1,0,0,0,1,0,0,0,1,1,0,0
18578,43879,-0.853393,-0.321296,-0.223342,-0.472098,0.155374,0,1,1,0,0,0,1,0,0,0,1,0,0,1
18579,38239,-0.808987,-0.321296,-0.223342,-0.639108,-0.592979,1,0,1,0,0,0,1,0,0,1,0,0,1,0
18581,17895,-0.897799,-0.321296,-0.223342,-0.524521,-0.060253,1,0,1,0,0,0,1,0,0,1,0,0,1,0
18583,72758,-0.142894,-0.321296,-0.223342,-0.658593,0.548576,1,0,1,0,0,0,1,0,0,1,0,0,0,1
18585,46853,-0.942206,-0.321296,-0.223342,0.237693,-0.453456,1,0,1,0,0,0,1,0,0,1,0,0,1,0
18586,69190,-0.764581,-0.321296,-0.223342,1.708539,-0.072937,0,1,1,0,0,0,1,0,0,1,0,0,1,0
18587,26705,1.633353,-0.321296,4.477446,0.134240,0.992514,0,1,1,0,0,0,1,0,0,0,1,0,1,0
18588,36976,1.766571,3.112398,-0.223342,1.757250,1.525239,1,0,0,1,0,0,1,0,0,0,1,1,0,0
18589,58578,-0.808987,-0.321296,-0.223342,-0.172409,-0.098305,0,1,1,0,0,0,1,0,0,0,1,0,0,1
18590,61508,0.434386,-0.321296,-0.223342,-0.438696,-0.884710,1,0,0,1,0,0,1,0,0,0,1,0,1,0
18593,15023,1.677759,-0.321296,-0.223342,-0.037873,-0.390036,0,1,0,1,0,0,1,0,0,1,0,1,0,0
18594,56291,-0.098488,3.112398,-0.223342,-0.968024,0.180742,0,1,0,1,0,0,1,0,0,0,1,1,0,0
18596,67353,-0.986612,-0.321296,-0.223342,-0.697098,-1.265228,0,1,1,0,0,0,1,0,0,1,0,1,0,0
18597,362,0.834042,-0.321296,-0.223342,2.483510,0.409053,0,1,0,1,1,0,0,0,0,1,0,0,0,1
18598,29839,1.633353,-0.321296,-0.223342,0.493079,0.130006,1,0,0,1,0,0,1,0,0,1,0,0,1,0
18599,6438,0.567604,-0.321296,-0.223342,-0.812381,0.688099,0,1,0,1,1,0,0,0,0,1,0,0,1,0

In [88]:
prediction_features_dropped.columns
len(prediction_features_dropped) 
# add missing categorical feature columns
current_categorical_engineered_features = set(prediction_features_dropped.columns) - set(numeric_feature_names)
missing_features = set(categorical_engineered_features) - current_categorical_engineered_features

In [89]:
missing_features

{'gender_Other'}

In [90]:
for feature in missing_features:
    # add zeros since feature is absent in these data samples
    prediction_features_dropped[feature] = [0] * len(prediction_features_dropped) # 'len(prediction_features) ' takes #new samples. 

# view final feature set
prediction_features_dropped

,id,age,hypertension,heart_disease,avg_glucose_level,bmi,gender_Female,gender_Male,ever_married_No,ever_married_Yes,...,work_type_Never_worked,work_type_Private,work_type_Self-employed,work_type_children,Residence_type_Rural,Residence_type_Urban,smoking_status_formerly smoked,smoking_status_never smoked,smoking_status_smokes,gender_Other
0,36306,1.677759,-0.321296,-0.223342,-0.478825,-0.922761,0,1,0,1,...,0,1,0,0,0,1,1,0,0,0
1,61829,1.411322,-0.321296,4.477446,1.740085,-0.301248,1,0,0,1,...,0,0,1,0,1,0,1,0,0,0
4,40801,0.922854,-0.321296,-0.223342,-0.485088,-0.098305,1,0,0,1,...,0,0,0,0,1,0,0,1,0,0
5,9348,1.056072,3.112398,-0.223342,2.679051,0.485156,1,0,0,1,...,0,1,0,0,0,1,0,1,0,0
7,60512,0.167949,-0.321296,-0.223342,0.378492,0.523208,0,1,0,1,...,0,0,0,0,0,1,0,1,0,0
8,31309,1.455728,-0.321296,-0.223342,-0.597820,-0.047569,1,0,0,1,...,0,0,1,0,1,0,0,1,0,0
9,39199,1.455728,-0.321296,-0.223342,-0.632845,-0.339300,0,1,0,1,...,0,0,1,0,0,1,0,0,1,0
12,19042,0.212355,-0.321296,-0.223342,-0.298826,-0.212461,1,0,0,1,...,0,1,0,0,1,0,0,1,0,0
14,33104,1.100479,-0.321296,-0.223342,3.064565,-0.529559,1,0,0,1,...,0,0,0,0,0,1,0,1,0,0
15,55264,0.434386,-0.321296,-0.223342,0.116147,-0.491507,1,0,1,0,...,0,0,1,0,0,1,0,1,0,0
19,47721,-0.231707,-0.321296,-0.223342,1.413952,0.979830,1,0,0,1,...,0,0,0,0,0,1,1,0,0,0
20,19656,0.745229,3.112398,-0.223342,-0.079393,0.624680,0,1,0,1,...,0,0,1,0,1,0,1,0,0,0
21,35806,0.123543,-0.321296,-0.223342,-0.532175,1.005198,0,1,0,1,...,0,1,0,0,0,1,0,0,1,0
22,70637,0.079137,-0.321296,-0.223342,1.057201,-0.783238,1,0,0,1,...,0,1,0,0,1,0,0,1,0,0
23,62010,-1.297455,-0.321296,-0.223342,-0.387202,-0.998865,1,0,1,0,...,0,0,0,1,0,1,1,0,0,0
24,67576,1.766571,-0.321296,-0.223342,2.350135,1.030566,1,0,0,1,...,0,1,0,0,1,0,1,0,0,0
25,31774,1.056072,3.112398,4.477446,-0.248027,0.599312,0,1,0,1,...,0,1,0,0,1,0,0,1,0,0
27,27445,0.212355,-0.321296,-0.223342,-0.224599,1.550607,1,0,0,1,...,0,1,0,0,0,1,0,1,0,0
29,26363,1.455728,-0.321296,-0.223342,0.285245,-0.757870,0,1,0,1,...,0,1,0,0,0,1,0,0,1,0
30,44463,0.079137,3.112398,-0.223342,1.059056,0.852990,0,1,0,1,...,0,1,0,0,1,0,0,1,0,0
31,17002,0.967260,-0.321296,4.477446,2.509722,-0.364668,0,1,0,1,...,0,1,0,0,1,0,0,1,0,0
32,55223,-1.208643,-0.321296,-0.223342,0.564522,0.003166,1,0,1,0,...,0,0,0,1,1,0,1,0,0,0
33,42974,-1.297455,-0.321296,-0.223342,1.008258,-1.227176,1,0,1,0,...,0,0,0,1,1,0,1,0,0,0
35,16974,0.922854,-0.321296,-0.223342,-0.474650,-0.212461,0,1,0,1,...,0,0,1,0,1,0,0,0,1,0
36,27813,-0.586956,-0.321296,-0.223342,0.274806,0.650047,1,0,0,1,...,0,1,0,0,1,0,0,1,0,0
38,67455,1.233697,-0.321296,4.477446,0.651274,0.675415,1,0,0,1,...,0,0,1,0,1,0,0,0,1,0
40,55641,-0.276113,-0.321296,-0.223342,0.283157,-0.072937,1,0,0,1,...,0,1,0,0,0,1,0,1,0,0
42,9699,-0.675769,-0.321296,-0.223342,-0.896118,-0.859342,1,0,0,1,...,0,1,0,0,1,0,0,1,0,0
43,61811,0.389980,-0.321296,-0.223342,2.042326,0.675415,0,1,0,1,...,0,1,0,0,0,1,1,0,0,0
45,18723,0.567604,3.112398,-0.223342,-0.252202,1.170089,0,1,0,1,...,0,1,0,0,1,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18557,36503,-1.253049,-0.321296,-0.223342,-0.469083,-0.351984,1,0,1,0,...,0,1,0,0,1,0,0,1,0,0
18558,8799,1.100479,-0.321296,4.477446,-0.340114,1.677447,0,1,0,1,...,0,1,0,0,0,1,1,0,0,0
18560,15153,0.301167,-0.321296,4.477446,2.695752,0.421736,0,1,0,1,...,0,0,1,0,1,0,0,0,1,0
18561,51264,1.411322,-0.321296,4.477446,-0.169625,-0.301248,1,0,0,1,...,0,1,0,0,1,0,1,0,0,0
18562,34294,0.745229,-0.321296,-0.223342,0.307049,-0.707134,1,0,0,1,...,0,1,0,0,1,0,1,0,0,0
18563,40218,0.656417,-0.321296,-0.223342,-0.116739,-0.580295,1,0,0,1,...,0,1,0,0,0,1,0,1,0,0
18564,2723,-0.453738,-0.321296,-0.223342,-0.764365,-0.072937,0,1,0,1,...,0,1,0,0,1,0,0,1,0,0
18566,33396,0.478792,-0.321296,-0.223342,0.021740,-0.237829,1,0,0,1,...,0,0,0,0,0,1,0,1,0,0
18567,26161,1.011666,-0.321296,-0.223342,-0.158027,0.713467,0,1,0,1,...,0,1,0,0,1,0,0,0,1,0
18568,58191,0.478792,-0.321296,-0.223342,-0.528464,-0.681766,1,0,0,1,...,0,1,0,0,1,0,0,1,0,0
18569,34625,0.834042,-0.321296,-0.223342,-0.601299,0.459788,1,0,1,0,...,0,0,0,0,1,0,0,1,0,0
18572,24761,-0.586956,-0.321296,-0.223342,-0.433825,-0.795922,1,0,1,0,...,0,1,0,0,0,1,0,0,1,0
18575,56348,0.389980,-0.321296,-0.223342,-0.162202,-0.275880,1,0,0,1,...,0,1,0,0,0,1,0,1,0,0
18576,11876,-0.808987,-0.321296,-0.223342,-0.750912,-0.618347,1,0,1,0,...,0,1,0,0,0,1,1,0,0,0
18578,43879,-0.853393,-0.321296,-0.223342,-0.472098,0.155374,0,1,1,0,...,0,1,0,0,0,1,0,0,1,0
18579,38239,-0.808987,-0.321296,-0.223342,-0.639108,-0.592979,1,0,1,0,...,0,1,0,0,1,0,0,1,0,0
18581,17895,-0.897799,-0.321296,-0.223342,-0.524521,-0.060253,1,0,1,0,...,0,1,0,0,1,0,0,1,0,0
18583,72758,-0.142894,-0.321296,-0.223342,-0.658593,0.548576,1,0,1,0,...,0,1,0,0,1,0,0,0,1,0
18585,46853,-0.942206,-0.321296,-0.223342,0.237693,-0.453456,1,0,1,0,...,0,1,0,0,1,0,0,1,0,0
18586,69190,-0.764581,-0.321296,-0.223342,1.708539,-0.072937,0,1,1,0,...,0,1,0,0,1,0,0,1,0,0
18587,26705,1.633353,-0.321296,4.477446,0.134240,0.992514,0,1,1,0,...,0,1,0,0,0,1,0,1,0,0
18588,36976,1.766571,3.112398,-0.223342,1.757250,1.525239,1,0,0,1,...,0,1,0,0,0,1,1,0,0,0
18589,58578,-0.808987,-0.321296,-0.223342,-0.172409,-0.098305,0,1,1,0,...,0,1,0,0,0,1,0,0,1,0
18590,61508,0.434386,-0.321296,-0.223342,-0.438696,-0.884710,1,0,0,1,...,0,1,0,0,0,1,0,1,0,0
18593,15023,1.677759,-0.321296,-0.223342,-0.037873,-0.390036,0,1,0,1,...,0,1,0,0,1,0,1,0,0,0
18594,56291,-0.098488,3.112398,-0.223342,-0.968024,0.180742,0,1,0,1,...,0,1,0,0,0,1,1,0,0,0
18596,67353,-0.986612,-0.321296,-0.223342,-0.697098,-1.265228,0,1,1,0,...,0,1,0,0,1,0,1,0,0,0
18597,362,0.834042,-0.321296,-0.223342,2.483510,0.409053,0,1,0,1,...,0,0,0,0,1,0,0,0,1,0
18598,29839,1.633353,-0.321296,-0.223342,0.493079,0.130006,1,0,0,1,...,0,1,0,0,1,0,0,1,0,0
18599,6438,0.567604,-0.321296,-0.223342,-0.812381,0.688099,0,1,0,1,...,0,0,0,0,1,0,0,1,0,0

In [116]:
#check if predictors for test set = training data
prediction_features_dropped.columns

Index(['age', 'hypertension', 'heart_disease', 'avg_glucose_level', 'bmi',
       'gender_Female', 'gender_Male', 'gender_Other', 'ever_married_No',
       'ever_married_Yes', 'work_type_Govt_job', 'work_type_Never_worked',
       'work_type_Private', 'work_type_Self-employed', 'work_type_children',
       'Residence_type_Rural', 'Residence_type_Urban',
       'smoking_status_formerly smoked', 'smoking_status_never smoked',
       'smoking_status_smokes'],
      dtype='object')

In [115]:
training_features.columns

Index(['age', 'hypertension', 'heart_disease', 'avg_glucose_level', 'bmi',
       'gender_Female', 'gender_Male', 'gender_Other', 'ever_married_No',
       'ever_married_Yes', 'work_type_Govt_job', 'work_type_Never_worked',
       'work_type_Private', 'work_type_Self-employed', 'work_type_children',
       'Residence_type_Rural', 'Residence_type_Urban',
       'smoking_status_formerly smoked', 'smoking_status_never smoked',
       'smoking_status_smokes'],
      dtype='object')

In [94]:
#remove index, change order such that it aligns to the training set
prediction_features_dropped = prediction_features_dropped[['age', 'hypertension', 'heart_disease', 'avg_glucose_level',
       'bmi', 'gender_Female', 'gender_Male', 'gender_Other', 'ever_married_No',
       'ever_married_Yes', 'work_type_Govt_job', 'work_type_Never_worked',
       'work_type_Private', 'work_type_Self-employed', 'work_type_children',
       'Residence_type_Rural', 'Residence_type_Urban',
       'smoking_status_formerly smoked', 'smoking_status_never smoked',
       'smoking_status_smokes']]

#### Just in case you want to create .mat file of cleaned test set..

In [ ]:
numpyMatrix_prediction = prediction_features_dropped.as_matrix()
scipy.io.savemat('NAremove_test.mat', {'matrix': numpyMatrix_prediction})

In [ ]:
# RENAME AS PREDICTION_FEATUERES
prediction_features = prediction_features_dropped

In [ ]:
prediction_features.columns
len(prediction_features) 
# add missing categorical feature columns
current_categorical_engineered_features = set(prediction_features.columns) - set(numeric_feature_names)
missing_features = set(categorical_engineered_features) - current_categorical_engineered_features

## Create .mat file for test dataset for matlab

In [ ]:
scipy.io.savemat('NAremove_train.mat', {'matrix': numpyMatrix})
scipy.io.savemat('NAremove_train_target.mat', {'matrix': numpyMatrix_target})
colname = training_features.columns
# Since colomun names are dropped in the .mat file, another file 
# containing those is created 

scipy.io.savemat('NAremove_train_target_names.mat', {'matrix': outcome_name})
scipy.io.savemat('NAremove_train_colnames.mat', {'matrix': colname.values})